In [1]:
'''
【课程2.15】  文本数据

Pandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作
 
'''

'\n【课程2.15】  文本数据\n\nPandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作\n \n'

In [7]:
# 通过str访问，且自动排除丢失/ NA值
import pandas as pd
import numpy as np
s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s)
print('-----')
print(df)
print('-----')
 
print(s.str.count('b'))
print(df['key2'].str.upper())
print('-----')
# 直接通过.str调用字符串方法
# 可以对Series、Dataframe使用
# 自动过滤NaN值    

df.columns = df.columns.str.upper()
print(df)

0          A
1          b
2          C
3    bbhello
4        123
5        NaN
6         hj
dtype: object
-----
  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
-----
0    0.0
1    1.0
2    0.0
3    2.0
4    0.0
5    NaN
6    0.0
dtype: float64
0     HEE
1      FV
2       W
3    HIJA
4     123
5     NaN
Name: key2, dtype: object
-----
  KEY1  KEY2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN

In [9]:
# 字符串常用方法（1） - lower，upper，len，startswith，endswith

s = pd.Series(['A','b','bbhello','123',np.nan])

print(s.str.lower(),'→ lower小写\n')
print(s.str.upper(),'→ upper大写\n')
print(s.str.len(),'→ len字符长度\n')
print(s.str.startswith('b'),'→ 判断起始是否为a\n')
print(s.str.endswith('3'),'→ 判断结束是否为3\n')

0          a
1          b
2    bbhello
3        123
4        NaN
dtype: object → lower小写

0          A
1          B
2    BBHELLO
3        123
4        NaN
dtype: object → upper大写

0    1.0
1    1.0
2    7.0
3    3.0
4    NaN
dtype: float64 → len字符长度

0    False
1     True
2     True
3    False
4      NaN
dtype: object → 判断起始是否为a

0    False
1    False
2    False
3     True
4      NaN
dtype: object → 判断结束是否为3

In [19]:
# 字符串常用方法（2） - strip

s = pd.Series([' jack', 'jill ', ' jesse ', 'frank'])
df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                  index=range(3))
print(s)
print(df.columns)
print('-----')
df
print(s.str.strip().values)
print(s.str.rstrip().values)
df.columns = df.columns.str.strip()
print(df)

0       jack
1      jill
2     jesse
3      frank
dtype: object
Index([' Column A ', ' Column B '], dtype='object')
-----
['jack' 'jill' 'jesse' 'frank']
[' jack' 'jill' ' jesse' 'frank']
   Column A  Column B
0  0.624669 -1.474546
1 -0.285505  0.013333
2  1.011525 -1.133453

In [21]:
# 字符串常用方法（3） - replace

df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                  index=range(3))
df.columns = df.columns.str.replace(' ','-')
print(df)
# 替换

df.columns = df.columns.str.replace('-','hehe',n=1)
print(df)
# n：替换个数

   -Column-A-  -Column-B-
0    1.000855   -1.205756
1   -0.771428    0.388950
2    0.592114    2.299016
   heheColumn-A-  heheColumn-B-
0       1.000855      -1.205756
1      -0.771428       0.388950
2       0.592114       2.299016

In [38]:
# 字符串常用方法（4） - split、rsplit

s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
s1 = pd.Series(['a,b,c','1,2,3',"[['a,,,c'],['a,,,c']]",np.nan])
print(s)
print(s1)
print(s.str.split(','))
print('-----')
# 类似字符串的split

print(s.str.split(',')[0])
print(s.str.split(',').str[0])
print(s.str.split(',').str.get(1))
print(s.str.split(',', expand=True))
print(s.str.split(',', expand=True, n = 1)) 
print(s.str.rsplit(',', expand=True))
print(s.str.rsplit(',', expand=True, n = 1)) 
# 可以使用expand可以轻松扩展此操作以返回DataFrame
# n参数限制分割数
# rsplit类似于split，反向工作，即从字符串的末尾到字符串的开头

df = pd.DataFrame({'key1':['a,b,c','1,2,3',[':,., ']],
                  'key2':['a-b-c','1-2-3',[':-.- ']]})
print(df['key2'].str.split('-'))
# Dataframe使用split

0      a,b,c
1      1,2,3
2    [a,,,c]
3        NaN
dtype: object
0                    a,b,c
1                    1,2,3
2    [['a,,,c'],['a,,,c']]
3                      NaN
dtype: object
0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object
-----
['a', 'b', 'c']
0      a
1      1
2    NaN
3    NaN
dtype: object
0      b
1      2
2    NaN
3    NaN
dtype: object
     0    1    2
0    a    b    c
1    1    2    3
2  NaN  NaN  NaN
3  NaN  NaN  NaN
     0    1
0    a  b,c
1    1  2,3
2  NaN  NaN
3  NaN  NaN
     0    1    2
0    a    b    c
1    1    2    3
2  NaN  NaN  NaN
3  NaN  NaN  NaN
     0    1
0  a,b    c
1  1,2    3
2  NaN  NaN
3  NaN  NaN
0    [a, b, c]
1    [1, 2, 3]
2          NaN
Name: key2, dtype: object

In [1]:
# 字符串索引

s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s)
print(s.str[0])  # 取第一个字符串
print(s.str[:2])  # 取前两个字符串
print(df['key2'].str[0]) 
# str之后和字符串本身索引方式相同

NameError: name 'pd' is not defined

In [15]:
#2.15作业1
import pandas as pd
import numpy as np
data = [{' gender ':"M",'name':"jack",'math':90,'english':90,'art':90},
       {' gender ':"M",'name':"tom",'math':89,'english':89,'art':89},
       {' gender ':"F",'name':"marry",'math':90,'english':90,'art':90},
       {' gender ':"M",'name':"zack",'math':78,'english':78,'art':78},
       {' gender ':"F",'name':"Heheda",'math':60,'english':60,'art':60}]
df1 = pd.DataFrame(data)
print('创建DataFrame为:\n',df1)
print('-------------')
df1['name'] = df1['name'].str.capitalize()
print('第一次修改后为:\n' ,df1)
print('-------------')
df1[' gender '] = df1[' gender '].str.strip()
print('第二次修改后为:\n' ,df1)
print('-------------')

创建DataFrame为:
    gender   art  english  math    name
0        M   90       90    90    jack
1        M   89       89    89     tom
2        F   90       90    90   marry
3        M   78       78    78    zack
4        F   60       60    60  Heheda
-------------
第一次修改后为:
    gender   art  english  math    name
0        M   90       90    90    Jack
1        M   89       89    89     Tom
2        F   90       90    90   Marry
3        M   78       78    78    Zack
4        F   60       60    60  Heheda
-------------
第二次修改后为:
    gender   art  english  math    name
0        M   90       90    90    Jack
1        M   89       89    89     Tom
2        F   90       90    90   Marry
3        M   78       78    78    Zack
4        F   60       60    60  Heheda
-------------

In [26]:
#改进的作业
df = pd.DataFrame({'name':['jack','tom','Marry','zack','heheda'],
                  ' gender ':['M ','M','   F','  M ','  F'],
                  'score':['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
print(df)
print('-------------')
df['name'] = df['name'].str.capitalize()
print('第一次修改后为:\n' ,df)
print('-------------')
df[' gender '] = df[' gender '].str.strip()
print('第二次修改后为:\n' ,df)
print('-------------')
df['math'] = df['score'].str.split('-').str[0]
df['english'] = df['score'].str.split('-').str[1]
df['art'] = df['score'].str.split('-').str[2]
print(df)
print('-------------')
df['math'] = df['score'].str.split('-',expand = True)[0]
df['english'] = df['score'].str.split('-',expand = True)[1]
df['art'] = df['score'].str.split('-',expand = True)[2]
del df['score']
print(df)
print('-------------')

     name  gender      score
0    jack       M   90-92-89
1     tom        M  89-78-88
2   Marry        F  90-92-95
3    zack       M   78-88-76
4  heheda        F  60-60-67
-------------
第一次修改后为:
      name  gender      score
0    Jack       M   90-92-89
1     Tom        M  89-78-88
2   Marry        F  90-92-95
3    Zack       M   78-88-76
4  Heheda        F  60-60-67
-------------
第二次修改后为:
      name  gender      score
0    Jack        M  90-92-89
1     Tom        M  89-78-88
2   Marry        F  90-92-95
3    Zack        M  78-88-76
4  Heheda        F  60-60-67
-------------
     name  gender      score math english art
0    Jack        M  90-92-89   90      92  89
1     Tom        M  89-78-88   89      78  88
2   Marry        F  90-92-95   90      92  95
3    Zack        M  78-88-76   78      88  76
4  Heheda        F  60-60-67   60      60  67
-------------
     name  gender  math english art
0    Jack        M   90      92  89
1     Tom        M   89      78  88
2   Marry        F   90      92  95
3    Zack        M   78      88  76
4  Heheda        F   60      60  67
-------------

In [27]:
'''
【课程2.16】  合并 merge、join

Pandas具有全功能的，高性能内存中连接操作，与SQL等关系数据库非常相似

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)
 
'''

"\n【课程2.16】  合并 merge、join\n\nPandas具有全功能的，高性能内存中连接操作，与SQL等关系数据库非常相似\n\npd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,\n         left_index=False, right_index=False, sort=True,\n         suffixes=('_x', '_y'), copy=True, indicator=False)\n \n"

In [33]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
print(df1)
print(df2)
print(pd.merge(df1, df2, on='key'))
print('------')
# left：第一个df
# right：第二个df
# on：参考键
print(df3)
print(df4)
print(pd.merge(df3, df4, on=['key1','key2']))
# 多个链接键

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3
------
  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3
  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [35]:
# 参数how → 合并方式

print(pd.merge(df3, df4,on=['key1','key2'], how = 'inner'))  
print('------')
# inner：默认，取交集

print(pd.merge(df3, df4, on=['key1','key2'], how = 'outer'))  
print('------')
# outer：取并集，数据缺失范围NaN

print(pd.merge(df3, df4, on=['key1','key2'], how = 'left'))  
print('------')
# left：按照df3为参考合并，数据缺失范围NaN

print(pd.merge(df3, df4, on=['key1','key2'], how = 'right'))  
# right：按照df4为参考合并，数据缺失范围NaN

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2
------
  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3
------
  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN
------
  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [40]:
# 参数 left_on, right_on, left_index, right_index → 当键不为一个列时，可以单独设置左键与右键

df1 = pd.DataFrame({'lkey':list('bbacaab'),
                   'data1':range(7)})
df2 = pd.DataFrame({'rkey':list('abd'),
                   'date2':range(3)})
print(df1)
print(df2)
print(pd.merge(df1, df2, left_on='lkey', right_on='rkey'))
print('------')
# df1以‘lkey’为键，df2以‘rkey’为键 ,两个键名不一样


df1 = pd.DataFrame({'key':list('abcdfeg'),
                   'data1':range(7)})
df2 = pd.DataFrame({'date2':range(100,105)},
                  index = list('abcde'))
print(df1)
print(df2)
print(pd.merge(df1, df2, left_on='key', right_index=True))#以index匹配
# df1以‘key’为键，df2以index为键
# left_index：为True时，第一个df以index为键，默认False
# right_index：为True时，第二个df以index为键，默认False

# 所以left_on, right_on, left_index, right_index可以相互组合：
# left_on + right_on, left_on + right_index, left_index + right_on, left_index + right_index

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6
  rkey  date2
0    a      0
1    b      1
2    d      2
  lkey  data1 rkey  date2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0
------
  key  data1
0   a      0
1   b      1
2   c      2
3   d      3
4   f      4
5   e      5
6   g      6
   date2
a    100
b    101
c    102
d    103
e    104
  key  data1  date2
0   a      0    100
1   b      1    101
2   c      2    102
3   d      3    103
5   e      5    104

In [42]:
# 参数 sort

df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
x1 = pd.merge(df1,df2, on = 'key', how = 'outer')
x2 = pd.merge(df1,df2, on = 'key', sort=True, how = 'outer')
print(x1)
print(x2)
print('------')
# sort：按照字典顺序通过 连接键 对结果DataFrame进行排序。默认为False，设置为False会大幅提高性能

print(x2.sort_values('data1'))
# 也可直接用Dataframe的排序方法：sort_values，sort_index

  key  data1  date2
0   b    1.0    2.0
1   b    3.0    2.0
2   b    7.0    2.0
3   a    2.0   11.0
4   a    5.0   11.0
5   a    9.0   11.0
6   c    4.0    NaN
7   d    NaN   33.0
  key  data1  date2
0   a    2.0   11.0
1   a    5.0   11.0
2   a    9.0   11.0
3   b    1.0    2.0
4   b    3.0    2.0
5   b    7.0    2.0
6   c    4.0    NaN
7   d    NaN   33.0
------
  key  data1  date2
3   b    1.0    2.0
0   a    2.0   11.0
4   b    3.0    2.0
6   c    4.0    NaN
1   a    5.0   11.0
5   b    7.0    2.0
2   a    9.0   11.0
7   d    NaN   33.0

In [55]:
# pd.join() → 直接通过索引链接

left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
print(left)
print(right)
print(left.join(right))
print(left.join(right, how='inner'))
print(left.join(right, how='outer'))  
print('-----')
# 等价于：pd.merge(left, right, left_index=True, right_index=True, how='outer')


df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
print(df1)
print(df2)
print(pd.merge(df1, df2, left_index=True, right_index=True ))  
print('-----')
print(df1.join(df2['date2']))
print('-----')
# suffixes=('_x', '_y')默认

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2
     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3
-----
  key  data1
0   b      1
1   b      3
2   a      2
3   c      4
4   a      5
5   a      9
6   b      7
  key  date2
0   a     11
1   b      2
2   d     33
  key_x  data1 key_y  date2
0     b      1     a     11
1     b      3     b      2
2     a      2     d     33
-----
  key  data1  date2
0   b      1   11.0
1   b      3    2.0
2   a      2   33.0
3   c      4    NaN
4   a      5    NaN
5   a      9    NaN
6   b      7    NaN
-----

In [56]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])
print(left)
print(right)
print(left.join(right, on = 'key'))
# 等价于pd.merge(left, right, left_on='key', right_index=True, how='left', sort=False);
# left的‘key’和right的index

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1
     C   D
K0  C0  D0
K1  C1  D1
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [66]:
#2.16作业1
df1= pd.DataFrame({'key':['a','b','c'],'values':np.random.rand(3)}) 
print('创建df1为:\n',df1)
df2 = pd.DataFrame({'key':['b','c','d'],'values':np.random.rand(3)})
print('创建df1为:\n',df2)
print(pd.merge(df1,df2,on='key',how ='outer'))

创建df1为:
   key    values
0   a  0.938540
1   b  0.267235
2   c  0.864428
创建df1为:
   key    values
0   b  0.742005
1   c  0.303148
2   d  0.426468
  key  values_x  values_y
0   a  0.938540       NaN
1   b  0.267235  0.742005
2   c  0.864428  0.303148
3   d       NaN  0.426468

In [77]:
#2.16作业2
df1= pd.DataFrame({'lkey':['a','b','c'],'values1':np.random.rand(3)}) 
print('创建df1为:\n',df1)
df2= pd.DataFrame({'rkey':['b','c','d'],'values2':np.random.rand(3)}) 
print('创建df2为:\n',df2)
print('合并df3为:\n',pd.merge(df1,df2,left_on ='lkey',right_on='rkey',how ='left'))#以左为准

创建df1为:
   lkey   values1
0    a  0.011226
1    b  0.107052
2    c  0.006843
创建df2为:
   rkey   values2
0    b  0.673546
1    c  0.866457
2    d  0.928048
合并df3为:
   lkey   values1 rkey   values2
0    a  0.011226  NaN       NaN
1    b  0.107052    b  0.673546
2    c  0.006843    c  0.866457

In [11]:
#2.16作业3
df1= pd.DataFrame({'key':['a','b','c'],'values1':np.random.rand(3)}) 
print('创建df1为:\n',df1)
df2= pd.DataFrame({'values2':np.random.rand(3),'values3':np.arange(5,8)},index=['b','c','d']) 
print('创建df2为:\n',df2)
print('合并df3为:\n',pd.merge(df1,df2,left_on='key',right_index=True ,how ='inner'))

创建df1为:
   key   values1
0   a  0.566807
1   b  0.208053
2   c  0.402944
创建df2为:
     values2  values3
b  0.802384        5
c  0.582034        6
d  0.187428        7
合并df3为:
   key   values1   values2  values3
1   b  0.208053  0.802384        5
2   c  0.402944  0.582034        6

In [ ]:
'''
【课程2.17】  连接与修补 concat、combine_first

连接 - 沿轴执行连接操作

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
 
'''

In [7]:
# 连接：concat
import pandas as pd
import numpy as np
s1 = pd.Series([1,2,3])
s2 = pd.Series([2,3,4])
print(s1)
print(s2)
print('-----------------')
s3 = pd.Series([1,2,3],index = ['a','c','h'])
s4 = pd.Series([2,3,4],index = ['b','e','d'])
print(s3)
print(s4)
print('-----------------')
print(pd.concat([s1,s2]))
print(pd.concat([s3,s4]).sort_index())
print('-----')
# 默认axis=0，行+行

print(pd.concat([s3,s4], axis=1))
print('-----')
# axis=1,列+列，成为一个Dataframe

0    1
1    2
2    3
dtype: int64
0    2
1    3
2    4
dtype: int64
-----------------
a    1
c    2
h    3
dtype: int64
b    2
e    3
d    4
dtype: int64
-----------------
0    1
1    2
2    3
0    2
1    3
2    4
dtype: int64
a    1
b    2
c    2
d    4
e    3
h    3
dtype: int64
-----
     0    1
a  1.0  NaN
b  NaN  2.0
c  2.0  NaN
d  NaN  4.0
e  NaN  3.0
h  3.0  NaN
-----

D:\ANA\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [25]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])
print(left)
print(right)
print(pd.concat([left,right]))
print(pd.concat([left,right],axis = 1))

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1
     C   D
K0  C0  D0
K1  C1  D1
      A    B    C    D  key
0    A0   B0  NaN  NaN   K0
1    A1   B1  NaN  NaN   K1
2    A2   B2  NaN  NaN   K0
3    A3   B3  NaN  NaN   K1
K0  NaN  NaN   C0   D0  NaN
K1  NaN  NaN   C1   D1  NaN
      A    B  key    C    D
0    A0   B0   K0  NaN  NaN
1    A1   B1   K1  NaN  NaN
2    A2   B2   K0  NaN  NaN
3    A3   B3   K1  NaN  NaN
K0  NaN  NaN  NaN   C0   D0
K1  NaN  NaN  NaN   C1   D1

D:\ANA\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

In [13]:
# 连接方式：join，join_axes

s5 = pd.Series([1,2,3],index = ['a','b','c'])
s6 = pd.Series([2,3,4],index = ['b','c','d']) 
print(pd.concat([s5,s6], axis= 1))
print(pd.concat([s5,s6], axis= 1, join='inner'))
print(pd.concat([s5,s6], axis= 1, join_axes=[['a','b','d']]))
# join：{'inner'，'outer'}，默认为“outer”。如何处理其他轴上的索引。outer为联合和inner为交集。
# join_axes：指定联合的index

     0    1
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
   0  1
b  2  2
c  3  3
     0    1
a  1.0  NaN
b  2.0  2.0
d  NaN  4.0

D:\ANA\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """

In [19]:
print(s5)
print(s6)
print(pd.concat([s5,s6],keys = ['one','two']))
print(pd.concat([s5,s6],keys = ['one','two'],axis = 1))

a    1
b    2
c    3
dtype: int64
b    2
c    3
d    4
dtype: int64
one  a    1
     b    2
     c    3
two  b    2
     c    3
     d    4
dtype: int64
   one  two
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

D:\ANA\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  after removing the cwd from sys.path.

In [21]:
# 覆盖列名

sre = pd.concat([s5,s6], keys = ['one','two'])
print(sre,type(sre))
print(sre.index)
print('-----')
# keys：序列，默认值无。使用传递的键作为最外层构建层次索引

sre = pd.concat([s5,s6], axis=1, keys = ['one','two'])
print(sre,type(sre))
# axis = 1, 覆盖列名

one  a    1
     b    2
     c    3
two  b    2
     c    3
     d    4
dtype: int64 <class 'pandas.core.series.Series'>
MultiIndex(levels=[['one', 'two'], ['a', 'b', 'c', 'd']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 1, 2, 3]])
-----
   one  two
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0 <class 'pandas.core.frame.DataFrame'>

D:\ANA\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

In [26]:
# 修补 pd.combine_first()

df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan],[np.nan, 7., np.nan]])
df2 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]],index=['a',1])
print(df1)
print(df2)
print(df1.combine_first(df2))
print('-----')
# 根据index，df1的空值被df2替代
# 如果df2的index多于df1，则更新到df1上，比如index=['a',1]

df1.update(df2)
print(df1)
# update，直接df2覆盖df1，相同index位置

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN
      0    1    2
a -42.6  NaN -8.2
1  -5.0  1.6  4.0
      0    1    2
0   NaN  3.0  5.0
1  -4.6  1.6  4.0
2   NaN  7.0  NaN
a -42.6  NaN -8.2
-----
     0    1    2
0  NaN  3.0  5.0
1 -5.0  1.6  4.0
2  NaN  7.0  NaN

D:\ANA\lib\site-packages\pandas\core\indexes\base.py:3755: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

In [31]:
#2.17 作业1
df1 = pd.DataFrame({'values1':np.random.rand(4),'values2':np.random.rand(4)},index = ['a','b','c','d'])
print('创建df1为:\n',df1)
print('----------------')
df2 = pd.DataFrame({'values1':np.random.rand(4),'values2':np.random.rand(4)},index = ['e','f','g','h'])
print('创建df2为:\n',df2)
print('----------------')
df3 = pd.concat([df1,df2])
print('连接df3为:\n',df3)

创建df1为:
     values1   values2
a  0.261961  0.650620
b  0.431375  0.589296
c  0.753587  0.736808
d  0.910382  0.185238
----------------
创建df2为:
     values1   values2
e  0.125566  0.721963
f  0.515274  0.034049
g  0.494045  0.742462
h  0.573451  0.508685
----------------
连接df3为:
     values1   values2
a  0.261961  0.650620
b  0.431375  0.589296
c  0.753587  0.736808
d  0.910382  0.185238
e  0.125566  0.721963
f  0.515274  0.034049
g  0.494045  0.742462
h  0.573451  0.508685

In [35]:
#2.17 作业2
df1 = pd.DataFrame({'values1':np.random.rand(4),'values2':np.random.rand(4)},index = ['a','b','c','d'])
df1['values1'][1:3] = np.nan
print('创建df1为:\n',df1)
print('----------------')
df2 = pd.DataFrame({'values1':[0,2,4,6],'values2':[1,3,5,7]},index = ['a','b','c','d'])
print('创建df1为:\n',df2)
print('----------------')
df3 = df1.combine_first(df2)
print('df1修补后为:\n',df3)

创建df1为:
     values1   values2
a  0.349485  0.037632
b       NaN  0.629936
c       NaN  0.564777
d  0.516754  0.448892
----------------
创建df1为:
    values1  values2
a        0        1
b        2        3
c        4        5
d        6        7
----------------
df1修补后为:
     values1   values2
a  0.349485  0.037632
b  2.000000  0.629936
c  4.000000  0.564777
d  0.516754  0.448892

In [36]:
'''
【课程2.18】  去重及替换

.duplicated / .replace
 
'''

'\n【课程2.18】  去重及替换\n\n.duplicated / .replace\n \n'

In [40]:
s = pd.Series([1,2,2,2,1,1,1,2,2,2,3,4,5,5,5,5])
print(s)
print(s.duplicated())
print(s[s.duplicated() == False])
print('-----')
# 判断是否重复
# 通过布尔判断，得到不重复的值

0     1
1     2
2     2
3     2
4     1
5     1
6     1
7     2
8     2
9     2
10    3
11    4
12    5
13    5
14    5
15    5
dtype: int64
0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11    False
12    False
13     True
14     True
15     True
dtype: bool
0     1
1     2
10    3
11    4
12    5
dtype: int64
-----

In [46]:
s_re = s.drop_duplicates(inplace=True)
print(s)
print(s_re)
print('-----')
# drop.duplicates移除重复
# inplace参数：是否替换原值，默认False

0     1
1     2
10    3
11    4
12    5
dtype: int64
None
-----

In [54]:
df = pd.DataFrame({'key1':['a','a',3,4,'a'],

                'key2':['a','b','b','b','a']})
print(df)
print(df.duplicated())
print(df['key2'].duplicated()) 
# Dataframe中使用duplicated

  key1 key2
0    a    a
1    a    b
2    3    b
3    4    b
4    a    a
0    False
1    False
2    False
3    False
4     True
dtype: bool
0    False
1    False
2     True
3     True
4     True
Name: key2, dtype: bool

In [57]:
# 替换 .replace

s = pd.Series(list('ascaazsd'))
print(s)
print(s.replace('a', np.nan))
print('8888888888')
print(s.replace(['a','s'] ,np.nan))
print('8888888888')
print(s.replace({'a':'hello world!','s':123}))
# 可一次性替换一个值或多个值
# 可传入列表或字典

0    a
1    s
2    c
3    a
4    a
5    z
6    s
7    d
dtype: object
0    NaN
1      s
2      c
3    NaN
4    NaN
5      z
6      s
7      d
dtype: object
8888888888
0    NaN
1    NaN
2      c
3    NaN
4    NaN
5      z
6    NaN
7      d
dtype: object
8888888888
0    hello world!
1             123
2               c
3    hello world!
4    hello world!
5               z
6             123
7               d
dtype: object

In [58]:
'''
【课程2.19】  数据分组

分组统计 - groupby功能

① 根据某些条件将数据拆分成组
② 对每个组独立应用函数
③ 将结果合并到一个数据结构中

Dataframe在行（axis=0）或列（axis=1）上进行分组，将一个函数应用到各个分组并产生一个新值，然后函数执行结果被合并到最终的结果对象中。

df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
 
'''

'\n【课程2.19】  数据分组\n\n分组统计 - groupby功能\n\n① 根据某些条件将数据拆分成组\n② 对每个组独立应用函数\n③ 将结果合并到一个数据结构中\n\nDataframe在行（axis=0）或列（axis=1）上进行分组，将一个函数应用到各个分组并产生一个新值，然后函数执行结果被合并到最终的结果对象中。\n\ndf.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)\n \n'

In [67]:
# 分组

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df)
print('------')

print(df.groupby('A'),type(df.groupby('A')))
print(df.groupby('A').sum())
# 直接分组得到一个groupby对象，是一个中间数据，没有进行计算
print('------888888888888888888888')
a = df.groupby('A').mean()
 
b = df.groupby(['A','B']).mean()
 
c = df.groupby(['A'])['D'].mean() 
                  # 以A分组，算D的平均值
print(a,type(a),'\n',a.columns)
print('------')
print(b,type(b),'\n',b.columns)
print('------0000')
print(c,type(c))
# 通过分组后的计算，得到一个新的dataframe
# 默认axis = 0，以行来分组
# 可单个或多个（[]）列分组

     A      B         C         D
0  foo    one -0.765597 -2.306608
1  bar    one -0.181649  0.479103
2  foo    two  1.444786  0.150313
3  bar  three  1.108688  0.831623
4  foo    two -0.844017 -1.617673
5  bar    two  0.529326 -1.189844
6  foo    one -0.634532 -0.376347
7  foo  three -0.717682 -1.228937
------
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001C2D13307B8> <class 'pandas.core.groupby.groupby.DataFrameGroupBy'>
            C         D
A
bar  1.456365  0.120881
foo -1.517042 -5.379251
------888888888888888888888
            C         D
A
bar  0.485455  0.040294
foo -0.303408 -1.075850 <class 'pandas.core.frame.DataFrame'>
 Index(['C', 'D'], dtype='object')
------
                  C         D
A   B
bar one   -0.181649  0.479103
    three  1.108688  0.831623
    two    0.529326 -1.189844
foo one   -0.700064 -1.341477
    three -0.717682 -1.228937
    two    0.300384 -0.733680 <class 'pandas.core.frame.DataFrame'>
 Index(['C', 'D'], dtype='object')
------0000
A
bar    0.040294
foo   -1.075850
Name: D, dtype: float64 <class 'pandas.core.series.Series'>

In [96]:
# 分组 - 可迭代对象

df = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})
print(df)
print(df.groupby('X'), type(df.groupby('X')))
print('-----')

print(list(df.groupby('X')), '→ 可迭代对象，直接生成list\n')
print(list(df.groupby('X'))[0], '→ 以元祖形式显示\n')
for n,g in df.groupby('X'):
    print(n)
    print(g)
    print('###')
print('-----')
# n是组名，g是分组后的Dataframe'''
 
print(df.groupby(['X']).get_group('A'),'\n')
print(df.groupby(['X']).get_group('B'),'\n')
print('-----567')
# .get_group()提取分组后的组

grouped = df.groupby(['X'])
print(grouped.groups)
print(grouped.groups['A'])  # 也可写：df.groupby('X').groups['A']
print('-----')
# .groups：将分组后的groups转为dict
# 可以字典索引方法来查看groups里的元素
  
sz = grouped.size()
print(sz,type(sz))
print('-----')
# .size()：查看分组后的长度


df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
grouped = df.groupby(['A','B']).groups
print(df)
print(grouped)
print(grouped[('foo', 'three')])
# 按照两个列进行分组

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2
<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x000001C2D134D518> <class 'pandas.core.groupby.groupby.DataFrameGroupBy'>
-----
[('A',    X  Y
0  A  1
2  A  3), ('B',    X  Y
1  B  4
3  B  2)] → 可迭代对象，直接生成list

('A',    X  Y
0  A  1
2  A  3) → 以元祖形式显示

A
   X  Y
0  A  1
2  A  3
###
B
   X  Y
1  B  4
3  B  2
###
-----
   X  Y
0  A  1
2  A  3

   X  Y
1  B  4
3  B  2

-----567
{'A': Int64Index([0, 2], dtype='int64'), 'B': Int64Index([1, 3], dtype='int64')}
Int64Index([0, 2], dtype='int64')
-----
X
A    2
B    2
dtype: int64 <class 'pandas.core.series.Series'>
-----
     A      B         C         D
0  foo    one -0.049246 -0.992033
1  bar    one  0.570353  0.262240
2  foo    two -0.426506 -0.855286
3  bar  three  0.515472  1.703075
4  foo    two  2.399277 -1.678323
5  bar    two  0.792775  0.239788
6  foo    one  1.723206 -1.873672
7  foo  three -1.946536 -1.817763
{('bar', 'one'): Int64Index([1], dtype='int64'), ('bar', 'three'): Int64Index([3], dtype='int64'), ('bar', 'two'): Int64Index([5], dtype='int64'), ('foo', 'one'): Int64Index([0, 6], dtype='int64'), ('foo', 'three'): Int64Index([7], dtype='int64'), ('foo', 'two'): Int64Index([2, 4], dtype='int64')}
Int64Index([7], dtype='int64')

In [80]:
# 其他轴上的分组

df = pd.DataFrame({'data1':np.random.rand(2),
                  'data2':np.random.rand(2),
                  'key1':['a','b'],
                  'key2':['one','two']})
print(df)
print(df.dtypes)
print('-----')
for n,p in df.groupby(df.dtypes, axis=1):
    print(n)
    print(p)
    print('##')
# 按照值类型分列

      data1     data2 key1 key2
0  0.772900  0.285313    a  one
1  0.586963  0.351594    b  two
data1    float64
data2    float64
key1      object
key2      object
dtype: object
-----
float64
      data1     data2
0  0.772900  0.285313
1  0.586963  0.351594
##
object
  key1 key2
0    a  one
1    b  two
##

In [87]:
# 通过字典或者Series分组

df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns = ['a','b','c','d'])
print(df)
print('-----')

mapping = {'a':'one','b':'one','c':'two','d':'two','e':'three'}
by_column = df.groupby(mapping, axis = 1)
print(by_column.sum())
print('-----')
# mapping中，a、b列对应的为one，c、d列对应的为two，以字典来分组

s = pd.Series(mapping)
print(s,'\n')
print(s.groupby(s).count())
print(s.groupby(s).groups)
# s中，index中a、b对应的为one，c、d对应的为two，以Series来分组

# 通过函数分组

df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns = ['a','b','c','d'],
                 index = ['abc','bcd','aa','b'])
print(df,'\n')
print(df.groupby(len).sum())
# 按照字母长度分组

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
-----
   one  two
0    1    5
1    9   13
2   17   21
3   25   29
-----
a      one
b      one
c      two
d      two
e    three
dtype: object

one      2
three    1
two      2
dtype: int64
{'one': Index(['a', 'b'], dtype='object'), 'three': Index(['e'], dtype='object'), 'two': Index(['c', 'd'], dtype='object')}
      a   b   c   d
abc   0   1   2   3
bcd   4   5   6   7
aa    8   9  10  11
b    12  13  14  15

    a   b   c   d
1  12  13  14  15
2   8   9  10  11
3   4   6   8  10

In [89]:
# 分组计算函数方法

s = pd.Series([1, 2, 3, 10, 20, 30], index = [1, 2, 3, 1, 2, 3])
grouped = s.groupby(level=0)  # 唯一索引用.groupby(level=0)，将同一个index的分为一组
print(grouped)
print(grouped.first(),'→ first：非NaN的第一个值\n')
print(grouped.last(),'→ last：非NaN的最后一个值\n')
print(grouped.sum(),'→ sum：非NaN的和\n')
print(grouped.mean(),'→ mean：非NaN的平均值\n')
print(grouped.median(),'→ median：非NaN的算术中位数\n')
print(grouped.count(),'→ count：非NaN的值\n')
print(grouped.min(),'→ min、max：非NaN的最小值、最大值\n')
print(grouped.std(),'→ std，var：非NaN的标准差和方差\n')
print(grouped.prod(),'→ prod：非NaN的积\n')

<pandas.core.groupby.groupby.SeriesGroupBy object at 0x000001C2D13CBCC0>
1    1
2    2
3    3
dtype: int64 → first：非NaN的第一个值

1    10
2    20
3    30
dtype: int64 → last：非NaN的最后一个值

1    11
2    22
3    33
dtype: int64 → sum：非NaN的和

1     5.5
2    11.0
3    16.5
dtype: float64 → mean：非NaN的平均值

1     5.5
2    11.0
3    16.5
dtype: float64 → median：非NaN的算术中位数

1    2
2    2
3    2
dtype: int64 → count：非NaN的值

1    1
2    2
3    3
dtype: int64 → min、max：非NaN的最小值、最大值

1     6.363961
2    12.727922
3    19.091883
dtype: float64 → std，var：非NaN的标准差和方差

1    10
2    40
3    90
dtype: int64 → prod：非NaN的积

In [1]:
# 多函数计算：agg()

df = pd.DataFrame({'a':[1,1,2,2],
                  'b':np.random.rand(4),
                  'c':np.random.rand(4),
                  'd':np.random.rand(4),})
print(df)
print(df.groupby('a').agg(['mean',np.sum]))
print(df.groupby('a')['b'].agg({'result1':np.mean,'result2':np.sum}))
# 函数写法可以用str，或者np.方法
# 可以通过list，dict传入，当用dict时，key名为columns

NameError: name 'pd' is not defined

In [53]:
#2.19作业
import pandas as pd
import numpy as np
df = pd.DataFrame({'A':['one','two','three','one','two','three','one','two'],
                   'B':['h','h','h','h','f','f','f','f'],
                  'C':np.arange(10,26,2), #用逗号
                   'D':np.random.randn(8),
                  'E':np.random.rand(8)})
print('创建df为:\n',df)
print('------------')
mean = df.groupby('A').mean()   #group是DataFrame的用法,而且后面的A要用()
print('以A分组,求出C,D的分组平均数为:\n',mean)
print(mean.index)
print('------------')
sum1 = df.groupby(['A','B']).sum()
print('以A,B分组,求出D,E的分组平均数为:\n',sum1)jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
print('------------')
grouped = df.groupby('A')
 
print('以A分组，筛选出分组后的第一组数据为：\n',df.groupby('A').groups,'\n------')
#print('字典为：\n' grouped.groups['one']df).groupby.
print(df.groupby('A').groups['one'])
 
print('按照数值类型分组为：\n',df.groupby(df.dtypes,axis = 1).sum(),'\n------')
print('将C,D作为一组分出来，并计算求和为：\n',df.groupby({'C':'r','D':'r'},axis=1).sum(),'\n------')
                                              #df.groupby({'C':'r','D':'r'},axis=1).sum(),'\n------')
print('以B分组，求出每组的均值，求和，最大值，最小值：\n',df.groupby('B').agg([np.mean,np.sum,np.max,np.min]),'\n------')   
print('****************')
for a,b in df.groupby('A'):
    print(a)
    print(b)
print('%%%%%%%%%%%%%%%%%%')
print(df.groupby(['A']).get_group('one'))
print(df.groupby(['A']).get_group('two'))
print(df.groupby(['A']).get_group('three')) 
print('****************')

创建df为:
        A  B   C         D         E
0    one  h  10  0.047615  0.102291
1    two  h  12 -0.029850  0.709954
2  three  h  14 -1.451551  0.933095
3    one  h  16 -0.001631  0.460472
4    two  f  18 -0.459351  0.187190
5  three  f  20 -0.435745  0.559982
6    one  f  22 -1.437756  0.723481
7    two  f  24 -0.050827  0.535237
------------
以A分组,求出C,D的分组平均数为:
         C         D         E
A
one    16 -0.463924  0.428748
three  17 -0.943648  0.746539
two    18 -0.180009  0.477460
Index(['one', 'three', 'two'], dtype='object', name='A')
------------
以A,B分组,求出D,E的分组平均数为:
           C         D         E
A     B
one   f  22 -1.437756  0.723481
      h  26  0.045984  0.562763
three f  20 -0.435745  0.559982
      h  14 -1.451551  0.933095
two   f  42 -0.510178  0.722427
      h  12 -0.029850  0.709954
------------
以A分组，筛选出分组后的第一组数据为：
 {'one': Int64Index([0, 3, 6], dtype='int64'), 'three': Int64Index([2, 5], dtype='int64'), 'two': Int64Index([1, 4, 7], dtype='int64')}
------
Int64Index([0, 3, 6], dtype='int64')
按照数值类型分组为：
    int32   float64  object
0     10  0.149906    oneh
1     12  0.680104    twoh
2     14 -0.518456  threeh
3     16  0.458841    oneh
4     18 -0.272161    twof
5     20  0.124238  threef
6     22 -0.714275    onef
7     24  0.484410    twof
------
将C,D作为一组分出来，并计算求和为：
            r
0  10.047615
1  11.970150
2  12.548449
3  15.998369
4  17.540649
5  19.564255
6  20.562244
7  23.949173
------
以B分组，求出每组的均值，求和，最大值，最小值：
      C                       D                                       E  \
  mean sum amax amin      mean       sum      amax      amin      mean
B
f   21  84   24   18 -0.595920 -2.383679 -0.050827 -1.437756  0.501472
h   13  52   16   10 -0.358854 -1.435417  0.047615 -1.451551  0.551453


        sum      amax      amin
B
f  2.005890  0.723481  0.187190
h  2.205812  0.933095  0.102291
------
****************
one
     A  B   C         D         E
0  one  h  10  0.047615  0.102291
3  one  h  16 -0.001631  0.460472
6  one  f  22 -1.437756  0.723481
three
       A  B   C         D         E
2  three  h  14 -1.451551  0.933095
5  three  f  20 -0.435745  0.559982
two
     A  B   C         D         E
1  two  h  12 -0.029850  0.709954
4  two  f  18 -0.459351  0.187190
7  two  f  24 -0.050827  0.535237
%%%%%%%%%%%%%%%%%%
     A  B   C         D         E
0  one  h  10  0.047615  0.102291
3  one  h  16 -0.001631  0.460472
6  one  f  22 -1.437756  0.723481
     A  B   C         D         E
1  two  h  12 -0.029850  0.709954
4  two  f  18 -0.459351  0.187190
7  two  f  24 -0.050827  0.535237
       A  B   C         D         E
2  three  h  14 -1.451551  0.933095
5  three  f  20 -0.435745  0.559982
****************

In [43]:
'''
【课程2.20】  分组转换及一般性“拆分-应用-合并”

transform / apply
 
'''

'\n【课程2.20】  分组转换及一般性“拆分-应用-合并”\n\ntransform / apply\n \n'

In [46]:
# 数据分组转换,transform

df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
k_mean = df.groupby('key1').mean()
print(df)
print(k_mean)
print(pd.merge(df,k_mean,left_on='key1',right_index=True).add_prefix('mean_'))  # .add_prefix('mean_')：添加前缀
print('-----')
# 通过分组、合并，得到一个包含均值的Dataframe

print(df.groupby('key2').mean()) # 按照key2分组求均值
print(df.groupby('key2').transform(np.mean))
# data1、data2每个位置元素取对应分组列的均值
# 字符串不能进行计算

      data1     data2 key1 key2
0  0.234672  0.591114    a  one
1  0.088700  0.208967    a  two
2  0.250606  0.362888    b  one
3  0.775453  0.533828    b  two
4  0.654696  0.318895    a  one
         data1     data2
key1
a     0.326023  0.372992
b     0.513029  0.448358
   mean_data1_x  mean_data2_x mean_key1 mean_key2  mean_data1_y  mean_data2_y
0      0.234672      0.591114         a       one      0.326023      0.372992
1      0.088700      0.208967         a       two      0.326023      0.372992
4      0.654696      0.318895         a       one      0.326023      0.372992
2      0.250606      0.362888         b       one      0.513029      0.448358
3      0.775453      0.533828         b       two      0.513029      0.448358
-----
         data1     data2
key2
one   0.379991  0.424299
two   0.432076  0.371398
      data1     data2
0  0.379991  0.424299
1  0.432076  0.371398
2  0.379991  0.424299
3  0.432076  0.371398
4  0.379991  0.424299

In [56]:
# 一般化Groupby方法：apply

df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
print(df)
print(df.groupby('key1').apply(lambda x: x.describe()))
# apply直接运行其中的函数
# 这里为匿名函数，直接描述分组后的统计量
def f_df1(d,n):
    return(d.sort_index()[:n])
def f_df2(d,k1):
    return(d[k1])
print(df.groupby('key1').apply(f_df1,2),'\n')
print('***************')
print(df.groupby('key1').apply(f_df2,'data2'),'\n')
print('***************')
print(type(df.groupby('key1').apply(f_df2,'data2')))
print(df.groupby('key2').apply(f_df1,2),'\n')
print('***************')
print(df.groupby('key2').apply(f_df2,'data2'),'\n')
print('***************')
# f_df1函数：返回排序后的前n行数据
# f_df2函数：返回分组后表的k1列，结果为Series，层次化索引
# 直接运行f_df函数
# 参数直接写在后面，也可以为.apply(f_df,n = 2))

      data1     data2 key1 key2
0  0.438395  0.489610    a  one
1  0.371461  0.681827    a  two
2  0.627793  0.314591    b  one
3  0.402488  0.407950    b  two
4  0.022965  0.856442    a  one
               data1     data2
key1
a    count  3.000000  3.000000
     mean   0.277607  0.675960
     std    0.223052  0.183487
     min    0.022965  0.489610
     25%    0.197213  0.585718
     50%    0.371461  0.681827
     75%    0.404928  0.769135
     max    0.438395  0.856442
b    count  2.000000  2.000000
     mean   0.515141  0.361270
     std    0.159315  0.066015
     min    0.402488  0.314591
     25%    0.458814  0.337930
     50%    0.515141  0.361270
     75%    0.571467  0.384610
     max    0.627793  0.407950
           data1     data2 key1 key2
key1
a    0  0.438395  0.489610    a  one
     1  0.371461  0.681827    a  two
b    2  0.627793  0.314591    b  one
     3  0.402488  0.407950    b  two

***************
key1
a     0    0.489610
      1    0.681827
      4    0.856442
b     2    0.314591
      3    0.407950
Name: data2, dtype: float64

***************
<class 'pandas.core.series.Series'>
           data1     data2 key1 key2
key2
one  0  0.438395  0.489610    a  one
     2  0.627793  0.314591    b  one
two  1  0.371461  0.681827    a  two
     3  0.402488  0.407950    b  two

***************
key2
one   0    0.489610
      2    0.314591
      4    0.856442
two   1    0.681827
      3    0.407950
Name: data2, dtype: float64

***************

In [64]:
#2.20作业
df = pd.DataFrame({'data1':np.random.rand(8),
                  'data2':np.random.rand(8),
                  'key':list('aabbabab')})
print('创建df为:\n',df)
print('-----------------')
s = df.groupby('key').mean()
#data = pd.merge(df,s,left_on='key',right_index=True)
#print('求和且合并之后结果为:\n',data)

df_ = df.groupby('key').transform(np.mean)
print(df_)
print('求和且合并之后结果为：\n',df.join(df_,rsuffix='_mean'),'\n------')
#用join而不用merge
print('求和且合并之后结果为：\n',df.join(df_,rsuffix='_mean'),'\n------')

创建df为:
       data1     data2 key
0  0.646072  0.626044   a
1  0.280752  0.520770   a
2  0.327153  0.971494   b
3  0.191329  0.906121   b
4  0.767695  0.250048   a
5  0.559753  0.078536   b
6  0.382316  0.355520   a
7  0.541883  0.380552   b
-----------------
      data1     data2
0  0.519209  0.438095
1  0.519209  0.438095
2  0.405030  0.584176
3  0.405030  0.584176
4  0.519209  0.438095
5  0.405030  0.584176
6  0.519209  0.438095
7  0.405030  0.584176
求和且合并之后结果为：
       data1     data2 key  data1_mean  data2_mean
0  0.646072  0.626044   a    0.519209    0.438095
1  0.280752  0.520770   a    0.519209    0.438095
2  0.327153  0.971494   b    0.405030    0.584176
3  0.191329  0.906121   b    0.405030    0.584176
4  0.767695  0.250048   a    0.519209    0.438095
5  0.559753  0.078536   b    0.405030    0.584176
6  0.382316  0.355520   a    0.519209    0.438095
7  0.541883  0.380552   b    0.405030    0.584176
------
求和且合并之后结果为：
       data1     data2 key  data1_mean  data2_mean
0  0.646072  0.626044   a    0.519209    0.438095
1  0.280752  0.520770   a    0.519209    0.438095
2  0.327153  0.971494   b    0.405030    0.584176
3  0.191329  0.906121   b    0.405030    0.584176
4  0.767695  0.250048   a    0.519209    0.438095
5  0.559753  0.078536   b    0.405030    0.584176
6  0.382316  0.355520   a    0.519209    0.438095
7  0.541883  0.380552   b    0.405030    0.584176
------

In [66]:
'''
【课程2.21】  透视表及交叉表

类似excel数据透视 - pivot table / crosstab
 
'''

'\n【课程2.21】  透视表及交叉表\n\n类似excel数据透视 - pivot table / crosstab\n \n'

In [71]:
# 透视表：pivot_table
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')

date = ['2017-5-1','2017-5-2','2017-5-3']*3
rng = pd.to_datetime(date)
df = pd.DataFrame({'date':rng,
                   'key':list('abcdabcda'),
                  'values':np.random.rand(9)*10})
print(df)
print('-----')

print(pd.pivot_table(df, values = 'values', index = ['date','key'] , aggfunc=np.sum))  # 也可以写 aggfunc='sum'
print('-----')
# data：DataFrame对象
# values：要聚合的列或列的列表
# index：数据透视表的index，从原数据的列中筛选
# columns：数据透视表的columns，从原数据的列中筛选
# aggfunc：用于聚合的函数，默认为numpy.mean，支持numpy计算方法

print(pd.pivot_table(df, values = 'values', index = ['date','key'], aggfunc=len))
print('-----')
# 这里就分别以date、key共同做数据透视，值为values：统计不同（date，key）情况下values的平均值
# aggfunc=len(或者count)：计数

        date key    values
0 2017-05-01   a  4.343027
1 2017-05-02   b  5.821101
2 2017-05-03   c  7.484869
3 2017-05-01   d  8.600248
4 2017-05-02   a  6.644998
5 2017-05-03   b  5.525714
6 2017-05-01   c  6.252587
7 2017-05-02   d  7.569570
8 2017-05-03   a  9.075122
-----
                  values
date       key
2017-05-01 a    4.343027
           c    6.252587
           d    8.600248
2017-05-02 a    6.644998
           b    5.821101
           d    7.569570
2017-05-03 a    9.075122
           b    5.525714
           c    7.484869
-----
                values
date       key
2017-05-01 a       1.0
           c       1.0
           d       1.0
2017-05-02 a       1.0
           b       1.0
           d       1.0
2017-05-03 a       1.0
           b       1.0
           c       1.0
-----

In [1]:
# 交叉表：crosstab
# 默认情况下，crosstab计算因子的频率表，比如用于str的数据透视分析
# pd.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, dropna=True, normalize=False)

df = pd.DataFrame({'A': [1, 2, 2, 2, 2],
                   'B': [3, 3, 4, 4, 4],
                   'C': [1, 1, np.nan, 1, 1]})
print(df)
print('-----')

print(pd.crosstab(df['A'],df['B']))
print('-----')
# 如果crosstab只接收两个Series，它将提供一个频率表。
# 用A的唯一值，统计B唯一值的出现次数

print(pd.crosstab(df['A'],df['B'],normalize=True))
print('-----')
# normalize：默认False，将所有值除以值的总和进行归一化 → 为True时候显示百分比

print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum))
print('-----')
# values：可选，根据因子聚合的值数组
# aggfunc：可选，如果未传递values数组，则计算频率表，如果传递数组，则按照指定计算
# 这里相当于以A和B界定分组，计算出每组中第三个系列C的值

print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum, margins=True))
print('-----')
# margins：布尔值，默认值False，添加行/列边距（小计）

NameError: name 'pd' is not defined

In [14]:
#2.21作业
import pandas as pd
import numpy as np
df = pd.DataFrame({'A':['one','two','three','one','two','three','one','two'],
                   'B':['h','h','h','h','f','f','f','f'],
                  'C':np.arange(10,26,2), #用逗号
                   'D':np.random.randn(8),
                  'E':np.random.rand(8)})
print('创建df为:\n',df)
print('------------') 

print('以A列聚合,求出C,D的平均值为:\n',pd.pivot_table(df,values=['C','D'],index='A'))
print('------------') 
                    
print('以A,B列聚合,求出D,E的均值,求和为:\n',pd.pivot_table(df,values=['D','E'],index=['A','B'],aggfunc = [np.mean,np.sum]))
print('------------') 

print('以B聚合,计算A列的元素频率为:\n',pd.crosstab(df['B'],df['A']))

创建df为:
        A  B   C         D         E
0    one  h  10  1.336028  0.713092
1    two  h  12  1.290844  0.675653
2  three  h  14  1.034033  0.196412
3    one  h  16  0.034408  0.730728
4    two  f  18  0.642803  0.772234
5  three  f  20  0.629361  0.579411
6    one  f  22  0.197081  0.655969
7    two  f  24 -0.260519  0.888751
------------
以A列聚合,求出C,D的平均值为:
         C         D
A
one    16  0.522506
three  17  0.831697
two    18  0.557709
------------
以A,B列聚合,求出D,E的均值,求和为:
              mean                 sum
                D         E         D         E
A     B
one   f  0.197081  0.655969  0.197081  0.655969
      h  0.685218  0.721910  1.370436  1.443820
three f  0.629361  0.579411  0.629361  0.579411
      h  1.034033  0.196412  1.034033  0.196412
two   f  0.191142  0.830492  0.382284  1.660985
      h  1.290844  0.675653  1.290844  0.675653
------------
以B聚合,计算A列的元素频率为:
 A  one  three  two
B
f    1      1    2
h    2      1    1

In [16]:
'''
【课程2.22】  数据读取

核心：read_table, read_csv, read_excel
 
'''

'\n【课程2.22】  数据读取\n\n核心：read_table, read_csv, read_excel\n \n'

In [34]:
# 读取普通分隔数据：read_table
# 可以读取txt，csv

import os
os.chdir('C:/Users/swx/Desktop/')

data1 = pd.read_table('data1.txt', delimiter=',',header = 0,index_col=1)
print(data1)
data2 = pd.read_table('data1.txt', delimiter=',',header = 0)
print(data2)
# delimiter：用于拆分的字符，也可以用sep：sep = ','
# header：用做列名的序号，默认为0（第一行）
# index_col：指定某列为行索引，否则自动索引0, 1, .....

# read_table主要用于读取简单的数据，txt/csv

     va1  va3  va4
va2
2      1    3    4
3      2    4    5
4      3    5    6
5      4    6    7
   va1  va2  va3  va4
0    1    2    3    4
1    2    3    4    5
2    3    4    5    6
3    4    5    6    7

In [26]:
# 读取csv数据：read_csv
# 先熟悉一下excel怎么导出csv

data2 = pd.read_csv('data2.csv',engine = 'python')
print(data2.head())
# engine：使用的分析引擎。可以选择C或者是python。C引擎快但是Python引擎功能更加完备。
# encoding：指定字符集类型，即编码，通常指定为'utf-8',没有报错就不要加

# 大多数情况先将excel导出csv，再读取

   省级政区代码 省级政区名称  地市级政区代码 地市级政区名称    年份 党委书记姓名  出生年份  出生月份  籍贯省份代码 籍贯省份名称  \
0  130000    河北省   130100    石家庄市  2000    陈来立   NaN   NaN     NaN    NaN
1  130000    河北省   130100    石家庄市  2001    吴振华   NaN   NaN     NaN    NaN
2  130000    河北省   130100    石家庄市  2002    吴振华   NaN   NaN     NaN    NaN
3  130000    河北省   130100    石家庄市  2003    吴振华   NaN   NaN     NaN    NaN
4  130000    河北省   130100    石家庄市  2004    吴振华   NaN   NaN     NaN    NaN

   ...    民族  教育 是否是党校教育（是=1，否=0） 专业：人文 专业：社科  专业：理工  专业：农科  专业：医科  入党年份  工作年份
0  ...   NaN  硕士              1.0   NaN   NaN    NaN    NaN    NaN   NaN   NaN
1  ...   NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
2  ...   NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
3  ...   NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN
4  ...   NaN  本科              0.0   0.0   0.0    1.0    0.0    0.0   NaN   NaN

[5 rows x 23 columns]

In [30]:
# 读取excel数据：read_excel

data3 = pd.read_excel('data2.xlsx',sheetname='中国人民共和国地市级党委书记数据库（2000-10）',header=0)
print(data3)

# io ：文件路径。
# sheetname：返回多表使用sheetname=[0,1],若sheetname=None是返回全表 → ① int/string 返回的是dataframe ②而none和list返回的是dict
# header：指定列名行，默认0，即取第一行
# index_col：指定列为索引列，也可以使用u”strings”

      省级政区代码    省级政区名称  地市级政区代码   地市级政区名称    年份 党委书记姓名  出生年份  出生月份  籍贯省份代码  \
0     130000       河北省   130100      石家庄市  2000    陈来立   NaN   NaN     NaN
1     130000       河北省   130100      石家庄市  2001    吴振华   NaN   NaN     NaN
2     130000       河北省   130100      石家庄市  2002    吴振华   NaN   NaN     NaN
3     130000       河北省   130100      石家庄市  2003    吴振华   NaN   NaN     NaN
4     130000       河北省   130100      石家庄市  2004    吴振华   NaN   NaN     NaN
5     130000       河北省   130100      石家庄市  2005    吴振华   NaN   NaN     NaN
6     130000       河北省   130100      石家庄市  2006    吴振华   NaN   NaN     NaN
7     130000       河北省   130100      石家庄市  2007    吴显国   NaN   NaN     NaN
8     130000       河北省   130100      石家庄市  2008    吴显国   NaN   NaN     NaN
9     130000       河北省   130100      石家庄市  2009     车俊   NaN   NaN     NaN
10    130000       河北省   130100      石家庄市  2010    孙瑞彬   NaN   NaN     NaN
11    130000       河北省   130200       唐山市  2000    白润璋   NaN   NaN     NaN
12    130000       河北省   130200       唐山市  2001    白润璋   NaN   NaN     NaN
13    130000       河北省   130200       唐山市  2002    白润璋   NaN   NaN     NaN
14    130000       河北省   130200       唐山市  2003     张和   NaN   NaN     NaN
15    130000       河北省   130200       唐山市  2004     张和   NaN   NaN     NaN
16    130000       河北省   130200       唐山市  2005     张和   NaN   NaN     NaN
17    130000       河北省   130200       唐山市  2006     张和   NaN   NaN     NaN
18    130000       河北省   130200       唐山市  2007     赵勇   NaN   NaN     NaN
19    130000       河北省   130200       唐山市  2008     赵勇   NaN   NaN     NaN
20    130000       河北省   130200       唐山市  2009     赵勇   NaN   NaN     NaN
21    130000       河北省   130200       唐山市  2010     赵勇   NaN   NaN     NaN
22    130000       河北省   130300      秦皇岛市  2000    王建忠   NaN   NaN     NaN
23    130000       河北省   130300      秦皇岛市  2001    王建忠   NaN   NaN     NaN
24    130000       河北省   130300      秦皇岛市  2002    王建忠   NaN   NaN     NaN
25    130000       河北省   130300      秦皇岛市  2003    宋长瑞   NaN   NaN     NaN
26    130000       河北省   130300      秦皇岛市  2004    宋长瑞   NaN   NaN     NaN
27    130000       河北省   130300      秦皇岛市  2005    宋长瑞   NaN   NaN     NaN
28    130000       河北省   130300      秦皇岛市  2006    宋长瑞   NaN   NaN     NaN
29    130000       河北省   130300      秦皇岛市  2007    王三堂   NaN   NaN     NaN
...      ...       ...      ...       ...   ...    ...   ...   ...     ...
3633  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2003    NaN   NaN   NaN     NaN
3634  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2004    NaN   NaN   NaN     NaN
3635  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2005    NaN   NaN   NaN     NaN
3636  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2006    NaN   NaN   NaN     NaN
3637  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2007    NaN   NaN   NaN     NaN
3638  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2008    NaN   NaN   NaN     NaN
3639  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2009    NaN   NaN   NaN     NaN
3640  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2010    NaN   NaN   NaN     NaN
3641  650000  新疆维吾尔自治区   654200      塔城地区  2000    NaN   NaN   NaN     NaN
3642  650000  新疆维吾尔自治区   654200      塔城地区  2001    NaN   NaN   NaN     NaN
3643  650000  新疆维吾尔自治区   654200      塔城地区  2002    NaN   NaN   NaN     NaN
3644  650000  新疆维吾尔自治区   654200      塔城地区  2003    NaN   NaN   NaN     NaN
3645  650000  新疆维吾尔自治区   654200      塔城地区  2004    NaN   NaN   NaN     NaN
3646  650000  新疆维吾尔自治区   654200      塔城地区  2005    NaN   NaN   NaN     NaN
3647  650000  新疆维吾尔自治区   654200      塔城地区  2006    NaN   NaN   NaN     NaN
3648  650000  新疆维吾尔自治区   654200      塔城地区  2007    NaN   NaN   NaN     NaN
3649  650000  新疆维吾尔自治区   654200      塔城地区  2008    NaN   NaN   NaN     NaN
3650  650000  新疆维吾尔自治区   654200      塔城地区  2009    NaN   NaN   NaN     NaN
3651  650000  新疆维吾尔自治区   654200      塔城地区  2010    NaN   NaN   NaN     NaN
3652  650000  新疆维吾尔自治区   654300     阿勒泰地区  2000    NaN   NaN   NaN     NaN
3653  650000  新疆维吾尔自治区   654300     阿勒泰地区  2001    NaN   NaN   NaN     NaN
3654  650000  新疆维吾尔自治区   654300     阿勒泰地区  2002    NaN   NaN   NaN     NaN
3655  650000  新疆维吾尔自治区   654300     阿勒泰地区  2003    NaN   NaN   NaN     NaN
3656  650000  新疆维吾尔自治区   654300     阿勒泰地区  2004    NaN   NaN   NaN     NaN
3657  650000  新疆维吾尔自治区   654300     阿勒泰地区  2005    NaN   NaN   NaN     NaN
3658  650000  新疆维吾尔自治区   654300     阿勒泰地区  2006    NaN   NaN   NaN     NaN
3659  650000  新疆维吾尔自治区   654300     阿勒泰地区  2007    NaN   NaN   NaN     NaN
3660  650000  新疆维吾尔自治区   654300     阿勒泰地区  2008    NaN   NaN   NaN     NaN
3661  650000  新疆维吾尔自治区   654300     阿勒泰地区  2009    NaN   NaN   NaN     NaN
3662  650000  新疆维吾尔自治区   654300     阿勒泰地区  2010    NaN   NaN   NaN     NaN

     籍贯省份名称  ...    民族   教育 是否是党校教育（是=1，否=0） 专业：人文 专业：社科  专业：理工  专业：农科  专业：医科  \
0       NaN  ...   NaN   硕士              1.0   NaN   NaN    NaN    NaN    NaN
1       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
2       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
3       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
4       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
5       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
6       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
7       NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
8       NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
9       NaN  ...   NaN   本科              1.0   0.0   1.0    0.0    0.0    0.0
10      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
11      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
12      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
13      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
14      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
15      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
16      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
17      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
18      NaN  ...   NaN   博士              0.0   0.0   1.0    0.0    0.0    0.0
19      NaN  ...   NaN   博士              0.0   0.0   1.0    0.0    0.0    0.0
20      NaN  ...   NaN   博士              0.0   0.0   1.0    0.0    0.0    0.0
21      NaN  ...   NaN   博士              0.0   0.0   1.0    0.0    0.0    0.0
22      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
23      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
24      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
25      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
26      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
27      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
28      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
29      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
...     ...  ...   ...  ...              ...   ...   ...    ...    ...    ...
3633    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3634    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3635    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3636    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3637    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3638    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3639    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3640    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3641    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3642    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3643    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3644    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3645    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3646    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3647    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3648    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3649    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3650    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3651    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3652    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3653    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3654    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3655    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3656    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3657    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3658    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3659    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3660    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3661    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3662    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN

      入党年份  工作年份
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3      NaN   NaN
4      NaN   NaN
5      NaN   NaN
6      NaN   NaN
7      NaN   NaN
8      NaN   NaN
9      NaN   NaN
10     NaN   NaN
11     NaN   NaN
12     NaN   NaN
13     NaN   NaN
14     NaN   NaN
15     NaN   NaN
16     NaN   NaN
17     NaN   NaN
18     NaN   NaN
19     NaN   NaN
20     NaN   NaN
21     NaN   NaN
22     NaN   NaN
23     NaN   NaN
24     NaN   NaN
25     NaN   NaN
26     NaN   NaN
27     NaN   NaN
28     NaN   NaN
29     NaN   NaN
...    ...   ...
3633   NaN   NaN
3634   NaN   NaN
3635   NaN   NaN
3636   NaN   NaN
3637   NaN   NaN
3638   NaN   NaN
3639   NaN   NaN
3640   NaN   NaN
3641   NaN   NaN
3642   NaN   NaN
3643   NaN   NaN
3644   NaN   NaN
3645   NaN   NaN
3646   NaN   NaN
3647   NaN   NaN
3648   NaN   NaN
3649   NaN   NaN
3650   NaN   NaN
3651   NaN   NaN
3652   NaN   NaN
3653   NaN   NaN
3654   NaN   NaN
3655   NaN   NaN
3656   NaN   NaN
3657   NaN   NaN
3658   NaN   NaN
3659   NaN   NaN
3660   NaN   NaN
3661   NaN   NaN
3662   NaN   NaN

[3663 rows x 23 columns]

D:\ANA\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [33]:
data3 = pd.read_excel('data2.xlsx',sheetname=None,header=0)
print(data3)

OrderedDict([('说明', Empty DataFrame
Columns: [中国人民共和国地市级党委书记数据库（2000-2010）
Data on Prefectural Party Secretary of P. R. China, 2000-2010

如使用本数据库，请在论文中致谢或引用。使用过程中遇到问题，请联系cs@fudan.edu.cn。引用格式：

陈硕，2015，从治理到制度：央地关系下的中国政治精英选拔，1368-2010。复旦大学经济系工作论文

Please kindly acknowledge us (see below) when publishing your work using this data source--be it in whole or in part. Contact cs@fudan.edu.cn if you have any questions concerning either the data structure or programming.

Shuo Chen, 2015, “From Governance to Institutionalization: Political Selection from the Perspective of Central-local Relations in China--Past and Present (1368-2010)” Department of Economics, Fudan University Working Paper.

地市级党委书记数据库由复旦大学经济学院陈硕副教授及其团队（Fudan WTF Social Science Lab）成员整理。数据库涵盖全国27个省（及自治区）333个地级市（及副省级城市、自治州和地区）2000-2010年989位党委书记个人信息。数据类型为市-年平衡面板， 3663个市-年-党委书记观察值（缺失642个观察值信息，实有3021个观察值）。以下是数据建立方法：

1. 查阅各省（及自治区）年鉴整理出2000-2010年间各地市级行政区划党委书记名单
2. 通过人民网、新华网、各地方政府网站及百度百科查询各党委书记简历
3. 对简历进行电子化整理获得现有数据库
4. 当某市某年有超过1位党委书记任职时，我们以最后上任书记信息为准
]
Index: []), ('中国人民共和国地市级党委书记数据库（2000-10）',       省级政区代码    省级政区名称  地市级政区代码   地市级政区名称    年份 党委书记姓名  出生年份  出生月份  籍贯省份代码  \
0     130000       河北省   130100      石家庄市  2000    陈来立   NaN   NaN     NaN
1     130000       河北省   130100      石家庄市  2001    吴振华   NaN   NaN     NaN
2     130000       河北省   130100      石家庄市  2002    吴振华   NaN   NaN     NaN
3     130000       河北省   130100      石家庄市  2003    吴振华   NaN   NaN     NaN
4     130000       河北省   130100      石家庄市  2004    吴振华   NaN   NaN     NaN
5     130000       河北省   130100      石家庄市  2005    吴振华   NaN   NaN     NaN
6     130000       河北省   130100      石家庄市  2006    吴振华   NaN   NaN     NaN
7     130000       河北省   130100      石家庄市  2007    吴显国   NaN   NaN     NaN
8     130000       河北省   130100      石家庄市  2008    吴显国   NaN   NaN     NaN
9     130000       河北省   130100      石家庄市  2009     车俊   NaN   NaN     NaN
10    130000       河北省   130100      石家庄市  2010    孙瑞彬   NaN   NaN     NaN
11    130000       河北省   130200       唐山市  2000    白润璋   NaN   NaN     NaN
12    130000       河北省   130200       唐山市  2001    白润璋   NaN   NaN     NaN
13    130000       河北省   130200       唐山市  2002    白润璋   NaN   NaN     NaN
14    130000       河北省   130200       唐山市  2003     张和   NaN   NaN     NaN
15    130000       河北省   130200       唐山市  2004     张和   NaN   NaN     NaN
16    130000       河北省   130200       唐山市  2005     张和   NaN   NaN     NaN
17    130000       河北省   130200       唐山市  2006     张和   NaN   NaN     NaN
18    130000       河北省   130200       唐山市  2007     赵勇   NaN   NaN     NaN
19    130000       河北省   130200       唐山市  2008     赵勇   NaN   NaN     NaN
20    130000       河北省   130200       唐山市  2009     赵勇   NaN   NaN     NaN
21    130000       河北省   130200       唐山市  2010     赵勇   NaN   NaN     NaN
22    130000       河北省   130300      秦皇岛市  2000    王建忠   NaN   NaN     NaN
23    130000       河北省   130300      秦皇岛市  2001    王建忠   NaN   NaN     NaN
24    130000       河北省   130300      秦皇岛市  2002    王建忠   NaN   NaN     NaN
25    130000       河北省   130300      秦皇岛市  2003    宋长瑞   NaN   NaN     NaN
26    130000       河北省   130300      秦皇岛市  2004    宋长瑞   NaN   NaN     NaN
27    130000       河北省   130300      秦皇岛市  2005    宋长瑞   NaN   NaN     NaN
28    130000       河北省   130300      秦皇岛市  2006    宋长瑞   NaN   NaN     NaN
29    130000       河北省   130300      秦皇岛市  2007    王三堂   NaN   NaN     NaN
...      ...       ...      ...       ...   ...    ...   ...   ...     ...
3633  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2003    NaN   NaN   NaN     NaN
3634  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2004    NaN   NaN   NaN     NaN
3635  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2005    NaN   NaN   NaN     NaN
3636  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2006    NaN   NaN   NaN     NaN
3637  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2007    NaN   NaN   NaN     NaN
3638  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2008    NaN   NaN   NaN     NaN
3639  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2009    NaN   NaN   NaN     NaN
3640  650000  新疆维吾尔自治区   654000  伊犁哈萨克自治州  2010    NaN   NaN   NaN     NaN
3641  650000  新疆维吾尔自治区   654200      塔城地区  2000    NaN   NaN   NaN     NaN
3642  650000  新疆维吾尔自治区   654200      塔城地区  2001    NaN   NaN   NaN     NaN
3643  650000  新疆维吾尔自治区   654200      塔城地区  2002    NaN   NaN   NaN     NaN
3644  650000  新疆维吾尔自治区   654200      塔城地区  2003    NaN   NaN   NaN     NaN
3645  650000  新疆维吾尔自治区   654200      塔城地区  2004    NaN   NaN   NaN     NaN
3646  650000  新疆维吾尔自治区   654200      塔城地区  2005    NaN   NaN   NaN     NaN
3647  650000  新疆维吾尔自治区   654200      塔城地区  2006    NaN   NaN   NaN     NaN
3648  650000  新疆维吾尔自治区   654200      塔城地区  2007    NaN   NaN   NaN     NaN
3649  650000  新疆维吾尔自治区   654200      塔城地区  2008    NaN   NaN   NaN     NaN
3650  650000  新疆维吾尔自治区   654200      塔城地区  2009    NaN   NaN   NaN     NaN
3651  650000  新疆维吾尔自治区   654200      塔城地区  2010    NaN   NaN   NaN     NaN
3652  650000  新疆维吾尔自治区   654300     阿勒泰地区  2000    NaN   NaN   NaN     NaN
3653  650000  新疆维吾尔自治区   654300     阿勒泰地区  2001    NaN   NaN   NaN     NaN
3654  650000  新疆维吾尔自治区   654300     阿勒泰地区  2002    NaN   NaN   NaN     NaN
3655  650000  新疆维吾尔自治区   654300     阿勒泰地区  2003    NaN   NaN   NaN     NaN
3656  650000  新疆维吾尔自治区   654300     阿勒泰地区  2004    NaN   NaN   NaN     NaN
3657  650000  新疆维吾尔自治区   654300     阿勒泰地区  2005    NaN   NaN   NaN     NaN
3658  650000  新疆维吾尔自治区   654300     阿勒泰地区  2006    NaN   NaN   NaN     NaN
3659  650000  新疆维吾尔自治区   654300     阿勒泰地区  2007    NaN   NaN   NaN     NaN
3660  650000  新疆维吾尔自治区   654300     阿勒泰地区  2008    NaN   NaN   NaN     NaN
3661  650000  新疆维吾尔自治区   654300     阿勒泰地区  2009    NaN   NaN   NaN     NaN
3662  650000  新疆维吾尔自治区   654300     阿勒泰地区  2010    NaN   NaN   NaN     NaN

     籍贯省份名称  ...    民族   教育 是否是党校教育（是=1，否=0） 专业：人文 专业：社科  专业：理工  专业：农科  专业：医科  \
0       NaN  ...   NaN   硕士              1.0   NaN   NaN    NaN    NaN    NaN
1       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
2       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
3       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
4       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
5       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
6       NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
7       NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
8       NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
9       NaN  ...   NaN   本科              1.0   0.0   1.0    0.0    0.0    0.0
10      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
11      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
12      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
13      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
14      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
15      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
16      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
17      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
18      NaN  ...   NaN   博士              0.0   0.0   1.0    0.0    0.0    0.0
19      NaN  ...   NaN   博士              0.0   0.0   1.0    0.0    0.0    0.0
20      NaN  ...   NaN   博士              0.0   0.0   1.0    0.0    0.0    0.0
21      NaN  ...   NaN   博士              0.0   0.0   1.0    0.0    0.0    0.0
22      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
23      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
24      NaN  ...   NaN   本科              0.0   0.0   0.0    1.0    0.0    0.0
25      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
26      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
27      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
28      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
29      NaN  ...   NaN   硕士              1.0   0.0   1.0    0.0    0.0    0.0
...     ...  ...   ...  ...              ...   ...   ...    ...    ...    ...
3633    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3634    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3635    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3636    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3637    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3638    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3639    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3640    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3641    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3642    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3643    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3644    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3645    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3646    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3647    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3648    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3649    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3650    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3651    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3652    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3653    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3654    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3655    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3656    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3657    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3658    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3659    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3660    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3661    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN
3662    NaN  ...   NaN  NaN              NaN   NaN   NaN    NaN    NaN    NaN

      入党年份  工作年份
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3      NaN   NaN
4      NaN   NaN
5      NaN   NaN
6      NaN   NaN
7      NaN   NaN
8      NaN   NaN
9      NaN   NaN
10     NaN   NaN
11     NaN   NaN
12     NaN   NaN
13     NaN   NaN
14     NaN   NaN
15     NaN   NaN
16     NaN   NaN
17     NaN   NaN
18     NaN   NaN
19     NaN   NaN
20     NaN   NaN
21     NaN   NaN
22     NaN   NaN
23     NaN   NaN
24     NaN   NaN
25     NaN   NaN
26     NaN   NaN
27     NaN   NaN
28     NaN   NaN
29     NaN   NaN
...    ...   ...
3633   NaN   NaN
3634   NaN   NaN
3635   NaN   NaN
3636   NaN   NaN
3637   NaN   NaN
3638   NaN   NaN
3639   NaN   NaN
3640   NaN   NaN
3641   NaN   NaN
3642   NaN   NaN
3643   NaN   NaN
3644   NaN   NaN
3645   NaN   NaN
3646   NaN   NaN
3647   NaN   NaN
3648   NaN   NaN
3649   NaN   NaN
3650   NaN   NaN
3651   NaN   NaN
3652   NaN   NaN
3653   NaN   NaN
3654   NaN   NaN
3655   NaN   NaN
3656   NaN   NaN
3657   NaN   NaN
3658   NaN   NaN
3659   NaN   NaN
3660   NaN   NaN
3661   NaN   NaN
3662   NaN   NaN

[3663 rows x 23 columns]), ('ESRI_MAPINFO_SHEET', Empty DataFrame
Columns: []
Index: [])])

D:\ANA\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)