# pandas的两个数据结构:series和dataframe,介绍了基本概念及创建,索引及技巧

In [ ]:
'''
【课程2.2】  Pandas数据结构Series：基本概念及创建

"一维数组"Serise

'''

In [77]:
# Series 数据结构
# Series 是带有标签的一维数组，可以保存任何数据类型（整数，字符串，浮点数，Python对象等）,轴标签统称为索引

import numpy as np
import pandas as pd  
# 导入numpy、pandas模块

s = pd.Series(np.random.rand(5))
print(s)
print(type(s))
# 查看数据、数据类型
 
print(s.index,type(s.index))
print(s.values,type(s.values))
# .index查看series索引，类型为rangeindex
# .values查看series值，类型是ndarray

# 核心：series相比于ndarray，是一个自带索引index的数组 → 一维数组 + 对应索引
# 所以当只看series的值的时候，就是一个ndarray
# series和ndarray较相似，索引切片功能差别不大
# series和dict相比，series更像一个有顺序的字典（dict本身不存在顺序），其索引原理与字典相似（一个用key，一个用index）

0    0.547366
1    0.354786
2    0.083981
3    0.450052
4    0.803259
dtype: float64
<class 'pandas.core.series.Series'>
1
RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
[0.54736642 0.35478592 0.08398148 0.45005214 0.80325889] <class 'numpy.ndarray'>

## series的创建方法 1.用字典,key就相当于index,2.一维数组,然后指明index,3.用标量创建

In [31]:
# Series 创建方法一：由字典创建，字典的key就是index，values就是values

dic = {'a':1 ,'b':2 , 'c':3, '4':4, '5':5}
s = pd.Series(dic)
print(s)
# 注意：key肯定是字符串，假如values类型不止一个会怎么样？ → dic = {'a':1 ,'b':'hello' , 'c':3, '4':4, '5':5}

a    1
b    2
c    3
4    4
5    5
dtype: int64

In [75]:
# Series 创建方法二：由数组创建(一维数组)

arr = np.random.randn(5)
s = pd.Series(arr)
print(arr)
print(s)
# 默认index是从0开始，步长为1的数字

s = pd.Series(arr, index = ['a','b','c','d','e'],dtype = np.object)
print(s)
print(s.sort_values())
print(s.sort_values())
# index参数：设置index，长度保持一致
# dtype参数：设置数值类型

[ 1.04413469 -0.04079185 -0.69534474  0.31560185 -1.48849384]
0    1.044135
1   -0.040792
2   -0.695345
3    0.315602
4   -1.488494
dtype: float64
a      1.04413
b   -0.0407919
c    -0.695345
d     0.315602
e     -1.48849
dtype: object
e     -1.48849
c    -0.695345
b   -0.0407919
d     0.315602
a      1.04413
dtype: object
e     -1.48849
c    -0.695345
b   -0.0407919
d     0.315602
a      1.04413
dtype: object

In [33]:
# Series 创建方法三：由标量创建

s = pd.Series(10, index = range(4))
print(s)
# 如果data是标量值，则必须提供索引。该值会重复，来匹配索引的长度

0    10
1    10
2    10
3    10
dtype: int64

In [34]:
# Series 名称属性：name

s1 = pd.Series(np.random.randn(5))
print(s1)
print('-----')
s2 = pd.Series(np.random.randn(5),name = 'test')
print(s2)
print('-----')
print( s1.name,  s2.name,type(s2.name))
# name为Series的一个参数，创建一个数组的 名称
# .name方法：输出数组的名称，输出格式为str，如果没用定义输出名称，输出为None

s3 = s2.rename('hehehe')
print(s3)
print("--------")
print(s3.name, s2.name)
# .rename()重命名一个数组的名称，并且新指向一个数组，原数组不变

0   -1.596878
1   -0.113787
2    0.216119
3   -0.702800
4    3.093179
dtype: float64
-----
0    0.297764
1    0.211049
2    0.530485
3    0.227303
4   -1.492148
Name: test, dtype: float64
-----
None test <class 'str'>
0    0.297764
1    0.211049
2    0.530485
3    0.227303
4   -1.492148
Name: hehehe, dtype: float64
--------
hehehe test

In [35]:
'''
【课程2.3】  Pandas数据结构Series：索引

位置下标 / 标签索引 / 切片索引 / 布尔型索引

'''

'\n【课程2.3】  Pandas数据结构Series：索引\n\n位置下标 / 标签索引 / 切片索引 / 布尔型索引\n\n'

In [36]:
# 位置下标，类似序列

s = pd.Series(np.random.rand(5))
print(s)
print(s[0],type(s[0]),s[0].dtype)
print(float(s[0]),type(float(s[0])))
#print(s[-1])
# 位置下标从0开始
# 输出结果为numpy.float格式，
# 可以通过float()函数转换为python float格式
# numpy.float与float占用字节不同
# s[-1]结果如何？

0    0.407875
1    0.713295
2    0.217024
3    0.799875
4    0.312810
dtype: float64
0.40787532216058886 <class 'numpy.float64'> float64
0.40787532216058886 <class 'float'>

## 多个标签的值,用[[]]来表示

In [37]:
# 标签索引

s = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])
print(s)
print(s['a'],type(s['a']),s['a'].dtype)
# 方法类似下标索引，用[]表示，内写上index，注意index是字符串

sci = s[['a','b','e']]
print(sci,type(sci))
# 如果需要选择多个标签的值，用[[]]来表示（相当于[]中包含一个列表）
# 多标签索引结果是新的数组

a    0.700322
b    0.159928
c    0.371115
d    0.916107
e    0.972187
dtype: float64
0.7003218716797144 <class 'numpy.float64'> float64
a    0.700322
b    0.159928
e    0.972187
dtype: float64 <class 'pandas.core.series.Series'>

## 给index重新命名的在作切片时是左闭右闭

In [38]:
# 切片索引

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])
print(s1[1:4],s1[4])
print(s2['a':'c'],s2['c'])
print(s2[0:3],s2[3])
print('-----')
# 注意：用index做切片是末端包含

print(s2[:-2])
print(s2[::2])
# 下标索引做切片，和list写法一样

1    0.492710
2    0.688046
3    0.610970
dtype: float64 0.6504197823491108
a    0.398915
b    0.976626
c    0.514661
dtype: float64 0.514660590960404
a    0.398915
b    0.976626
c    0.514661
dtype: float64 0.2735599647908986
-----
a    0.398915
b    0.976626
c    0.514661
dtype: float64
a    0.398915
c    0.514661
e    0.188652
dtype: float64

In [39]:
# 布尔型索引

s = pd.Series(np.random.rand(3)*100)
s[4] = None  # 添加一个空值
print(s)
bs1 = s > 50
bs2 = s.isnull()
bs3 = s.notnull()
print(bs1, type(bs1), bs1.dtype)
print(bs2, type(bs2), bs2.dtype)
print(bs3, type(bs3), bs3.dtype)
print('-----')
# 数组做判断之后，返回的是一个由布尔值组成的新的数组
# .isnull() / .notnull() 判断是否为空值 (None代表空值，NaN代表有问题的数值，两个都会识别为空值)

print(s[s > 50]) 
print('-----')
print(s[bs3])
# 布尔型索引方法：用[判断条件]表示，其中判断条件可以是 一个语句，或者是 一个布尔型数组！

0    57.2812
1    67.1929
2    54.6504
4       None
dtype: object
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
0    False
1    False
2    False
4     True
dtype: bool <class 'pandas.core.series.Series'> bool
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
-----
0    57.2812
1    67.1929
2    54.6504
dtype: object
-----
0    57.2812
1    67.1929
2    54.6504
dtype: object

In [40]:
'''
【课程2.4】  Pandas数据结构Series：基本技巧

数据查看 / 重新索引 / 对齐 / 添加、修改、删除值

'''

'\n【课程2.4】  Pandas数据结构Series：基本技巧\n\n数据查看 / 重新索引 / 对齐 / 添加、修改、删除值\n\n'

In [41]:
# 数据查看

s = pd.Series(np.random.rand(50))
print(s.head(10))
print(s.tail())
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

0    0.444360
1    0.624907
2    0.391572
3    0.082999
4    0.579609
5    0.672636
6    0.849014
7    0.850837
8    0.009294
9    0.933189
dtype: float64
45    0.803811
46    0.660573
47    0.060398
48    0.111076
49    0.677149
dtype: float64

In [42]:
# 重新索引reindex
# .reindex将会根据索引重新排序，如果当前索引不存在，则引入缺失值

s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s1 = s.reindex(['c','b','a','d'])
print(s1)
# .reindex()中也是写列表
# 这里'd'索引不存在，所以值为NaN

s2 = s.reindex(['c','b','a','d'], fill_value = 0)
print(s2)
# fill_value参数：填充缺失值的值

a    0.981354
b    0.476651
c    0.134725
dtype: float64
c    0.134725
b    0.476651
a    0.981354
d         NaN
dtype: float64
c    0.134725
b    0.476651
a    0.981354
d    0.000000
dtype: float64

In [43]:
# Series对齐

s1 = pd.Series(np.random.rand(3), index = ['Jack','Marry','Tom'])
s2 = pd.Series(np.random.rand(3), index = ['Wang','Jack','Marry'])
print(s1)
print(s2)
print(s1+s2)
# Series 和 ndarray 之间的主要区别是，Series 上的操作会根据标签自动对齐
# index顺序不会影响数值计算，以标签来计算
# 空值和任何值计算结果扔为空值

Jack     0.231960
Marry    0.128019
Tom      0.152017
dtype: float64
Wang     0.283823
Jack     0.225515
Marry    0.796002
dtype: float64
Jack     0.457475
Marry    0.924021
Tom           NaN
Wang          NaN
dtype: float64

In [44]:
# 删除：.drop

s = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s)
s1 = s.drop('n')
s2 = s.drop(['g','j'])#默认是false
print(s1)
print(s2)
print('*************88')
print(s)
# drop 删除元素之后返回副本(inplace=False),

n    0.972377
g    0.082733
j    0.499275
u    0.096777
r    0.899115
dtype: float64
g    0.082733
j    0.499275
u    0.096777
r    0.899115
dtype: float64
n    0.972377
u    0.096777
r    0.899115
dtype: float64
*************88
n    0.972377
g    0.082733
j    0.499275
u    0.096777
r    0.899115
dtype: float64

In [45]:
# 添加

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s1)
print(s2)
s1[5] = 100
s2['a'] = 100
print(s1)
print(s2)
print('-----')
# 直接通过下标索引/标签index添加值

s3 = s1.append(s2)
print(s3)
print(s1)
# 通过.append方法，直接添加一个数组
# .append方法生成一个新的数组，不改变之前的数组

0    0.626081
1    0.731389
2    0.657689
3    0.036014
4    0.320763
dtype: float64
n    0.576852
g    0.427132
j    0.771007
u    0.879990
r    0.728510
dtype: float64
0      0.626081
1      0.731389
2      0.657689
3      0.036014
4      0.320763
5    100.000000
dtype: float64
n      0.576852
g      0.427132
j      0.771007
u      0.879990
r      0.728510
a    100.000000
dtype: float64
-----
0      0.626081
1      0.731389
2      0.657689
3      0.036014
4      0.320763
5    100.000000
n      0.576852
g      0.427132
j      0.771007
u      0.879990
r      0.728510
a    100.000000
dtype: float64
0      0.626081
1      0.731389
2      0.657689
3      0.036014
4      0.320763
5    100.000000
dtype: float64

In [46]:
# 修改

s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s['a'] = 100
s[['b','c']] = 200
print(s)
# 通过索引直接修改，类似序列

a    0.287592
b    0.436215
c    0.660569
dtype: float64
a    100.0
b    200.0
c    200.0
dtype: float64

In [47]:
'''
【课程2.5】  Pandas数据结构Dataframe：基本概念及创建

"二维数组"Dataframe：是一个表格型的数据结构，包含一组有序的列，其列的值类型可以是数值、字符串、布尔值等。

Dataframe中的数据以一个或多个二维块存放，不是列表、字典或一维数组结构。

'''

'\n【课程2.5】  Pandas数据结构Dataframe：基本概念及创建\n\n"二维数组"Dataframe：是一个表格型的数据结构，包含一组有序的列，其列的值类型可以是数值、字符串、布尔值等。\n\nDataframe中的数据以一个或多个二维块存放，不是列表、字典或一维数组结构。\n\n'

## dataframe的5种创建方法 1. 由数组/list组成的字典,columns为字典key,index为默认数字,且index不能超出数组的行数,但是columns可以超过,会将其置为nan,都需要pd.dataframe()来转化
## 2.由series组成的字典,series是有索引的一维数组
## 3.reshape(3,3)转成二维数组
## 4.由字典组成的字典,{{}}
## 5.由字典组成的列表,都需要pd.dataframe()来转化

In [48]:
# Dataframe 数据结构
# Dataframe是一个表格型的数据结构，“带有标签的二维数组”。
# Dataframe带有index（行标签）和columns（列标签）

data = {'name':['Jack','Tom','Mary'],
        'age':[18,19,20],
       'gender':['m','m','w']}
frame = pd.DataFrame(data)
print(frame)  
print(type(frame))
print(frame.index,'\n该数据类型为：',type(frame.index))
print(frame.columns,'\n该数据类型为：',type(frame.columns))
print(frame.values,'\n该数据类型为：',type(frame.values))
# 查看数据，数据类型为dataframe
# .index查看行标签
# .columns查看列标签
# .values查看值，数据类型为ndarray,比series多了一个columns属性

   name  age gender
0  Jack   18      m
1   Tom   19      m
2  Mary   20      w
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
该数据类型为： <class 'pandas.core.indexes.range.RangeIndex'>
Index(['name', 'age', 'gender'], dtype='object')
该数据类型为： <class 'pandas.core.indexes.base.Index'>
[['Jack' 18 'm']
 ['Tom' 19 'm']
 ['Mary' 20 'w']]
该数据类型为： <class 'numpy.ndarray'>

In [49]:
# Dataframe 创建方法一：由数组/list组成的字典
# 创建方法:pandas.Dataframe()

data1 = {'a':[1,2,3],
        'b':[3,4,5],
        'c':[5,6,7]}
data2 = {'one':np.random.rand(3),
        'two':np.random.rand(3)}   # 这里如果尝试  'two':np.random.rand(4) 会怎么样？
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
# 由数组/list组成的字典 创建Dataframe，columns为字典key，index为默认数字标签
# 字典的值的长度必须保持一致！

df1 = pd.DataFrame(data1, columns = ['b','c','a','d'])
print(df1)
df1 = pd.DataFrame(data1, columns = ['b','c'])
print(df1)
# columns参数：可以重新指定列的顺序，格式为list，如果现有数据中没有该列（比如'd'），则产生NaN值
# 如果columns重新指定时候，列的数量可以少于原数据

df2 = pd.DataFrame(data2, index = ['f1','f2','f3'])  # 这里如果尝试  index = ['f1','f2','f3','f4'] 会怎么样？
print(df2)
# index参数：重新定义index，格式为list，长度必须保持一致

{'a': [1, 2, 3], 'b': [3, 4, 5], 'c': [5, 6, 7]}
{'one': array([0.8229894 , 0.41646624, 0.35443787]), 'two': array([0.34323657, 0.04408151, 0.38417871])}
   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7
        one       two
0  0.822989  0.343237
1  0.416466  0.044082
2  0.354438  0.384179
   b  c  a    d
0  3  5  1  NaN
1  4  6  2  NaN
2  5  7  3  NaN
   b  c
0  3  5
1  4  6
2  5  7
         one       two
f1  0.822989  0.343237
f2  0.416466  0.044082
f3  0.354438  0.384179

In [79]:
# Dataframe 创建方法二：由Series组成的字典

data1 = {'one':pd.Series(np.random.rand(2)),
        'two':pd.Series(np.random.rand(3))}  # 没有设置index的Series
data2 = {'one':pd.Series(np.random.rand(2), index = ['a','b']),
        'two':pd.Series(np.random.rand(3),index = ['a','b','c'])}# 设置了index的Series
 
print(data1)
print(data2)
 
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
# 由Seris组成的字典 创建Dataframe，columns为字典key，index为Series的标签（如果Series没有指定标签，则是默认数字标签）
# Series可以长度不一样，生成的Dataframe会出现NaN值

{'one': 0    0.294484
1    0.351004
dtype: float64, 'two': 0    0.894893
1    0.525370
2    0.968565
dtype: float64}
{'one': a    0.510262
b    0.612364
dtype: float64, 'two': a    0.306744
b    0.031040
c    0.978980
dtype: float64}
        one       two
0  0.294484  0.894893
1  0.351004  0.525370
2       NaN  0.968565
        one       two
a  0.510262  0.306744
b  0.612364  0.031040
c       NaN  0.978980

In [51]:
# Dataframe 创建方法三：通过二维数组直接创建

ar = np.random.rand(9).reshape(3,3)
print(ar)
df1 = pd.DataFrame(ar)
df2 = pd.DataFrame(ar, index = ['a', 'b', 'c'], columns = ['one','two','three'])  # 可以尝试一下index或columns长度不等于已有数组的情况
print(df1)
print(df2)
# 通过二维数组直接创建Dataframe，得到一样形状的结果数据，如果不指定index和columns，两者均返回默认数字格式
# index和colunms指定长度与原数组保持一致

[[0.64849389 0.13198011 0.59662649]
 [0.61336185 0.66395749 0.93257913]
 [0.58764659 0.04831163 0.06987778]]
          0         1         2
0  0.648494  0.131980  0.596626
1  0.613362  0.663957  0.932579
2  0.587647  0.048312  0.069878
        one       two     three
a  0.648494  0.131980  0.596626
b  0.613362  0.663957  0.932579
c  0.587647  0.048312  0.069878

In [52]:
# Dataframe 创建方法四：由字典组成的列表

data = [{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
print(data)
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data, index = ['a','b'])
df3 = pd.DataFrame(data, columns = ['one','two','four'])
print(df1)
print(df2)
print(df3)
# 由字典组成的列表创建Dataframe，columns为字典的key，index不做指定则为默认数组标签
# colunms和index参数分别重新指定相应列及行标签

[{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
   one  three  two
0    1    NaN    2
1    5   20.0   10
   one  three  two
a    1    NaN    2
b    5   20.0   10
   one  two  four
0    1    2   NaN
1    5   10   NaN

In [58]:
# Dataframe 创建方法五：由字典组成的字典

data = {'Jack':{'math':90,'english':89,'art':78},
       'Marry':{'math':82,'english':95,'art':92},
       'Tom':{'math':78,'english':67}}
df1 = pd.DataFrame(data)
print(df1)
# 由字典组成的字典创建Dataframe，columns为字典的key，index为子字典的key

df2 = pd.DataFrame(data, columns = ['Jack','Tom','Bob'])
#df3 = pd.DataFrame(data, index = ['a','b','c'])# index在这里和之前不同，并不能改变原有index，如果指向新的标签，值为NaN （非常重要！）
print(df2)
print(df3)
# columns参数可以增加和减少现有列，如出现新的列，值为NaN
# index在这里和之前不同，并不能改变原有index，如果指向新的标签，值为NaN （非常重要！）

         Jack  Marry   Tom
art        78     92   NaN
english    89     95  67.0
math       90     82  78.0
         Jack   Tom  Bob
art        78   NaN  NaN
english    89  67.0  NaN
math       90  78.0  NaN
   one  two  four
0    1    2   NaN
1    5   10   NaN

In [59]:
'''
【课程2.6】  Pandas数据结构Dataframe：索引

Dataframe既有行索引也有列索引，可以被看做由Series组成的字典（共用一个索引）

选择列 / 选择行 / 切片 / 布尔判断

'''

'\n【课程2.6】  Pandas数据结构Dataframe：索引\n\nDataframe既有行索引也有列索引，可以被看做由Series组成的字典（共用一个索引）\n\n选择列 / 选择行 / 切片 / 布尔判断\n\n'

##  切片df[ ]:一般用于选择列(指定列名),也可以选择行,df[:1]选择第一行
## loc():选择行,如果搜索索引不存在，则返回NaN,左闭右闭,不能为[-1]
## iloc():选择行,如果搜索索引不存在，则会报错,左闭右开,能为[-1],表示选最后一行
## 多重索引,先选择列再选择行 ,写的顺序也是先列后行

In [60]:
# 选择行与列

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)

data1 = df['a']
data2 = df[['a','c']]
print(data1,type(data1))
print(data2,type(data2))
print('-----')
# 按照列名选择列，只选择一列输出Series，选择多列输出Dataframe

data3 = df.loc['one']
data4 = df.loc[['one','two']]
 
print(data3,type(data4))
# 按照index选择行，只选择一行输出Series，选择多行输出Dataframe

               a          b          c          d
one    69.071834  41.614739  45.015699  49.719703
two    67.728924  88.761731  22.468932  50.512609
three  30.317909  51.850919  90.386782  81.696522
one      69.071834
two      67.728924
three    30.317909
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               a          c
one    69.071834  45.015699
two    67.728924  22.468932
three  30.317909  90.386782 <class 'pandas.core.frame.DataFrame'>
-----
a    69.071834
b    41.614739
c    45.015699
d    49.719703
Name: one, dtype: float64 <class 'pandas.core.frame.DataFrame'>

In [61]:
# df[] - 选择列
# 一般用于选择列，也可以选择行

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)
print('-----')

data1 = df['a']
data2 = df[['b','c']]  # 尝试输入 data2 = df[['b','c','e']]
print(data1)
print(data2)
# df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
# 单选列为Series，print结果为Series格式
# 多选列为Dataframe，print结果为Dataframe格式

data3 = df[:1]
#data3 = df[0]
#data3 = df['one']
print(data3,type(data3))
# df[]中为数字时，默认选择行，且只能进行切片的选择，不能单独选择（df[0]）
# 输出结果为Dataframe，即便只选择一行
# df[]不能通过索引标签名来选择行(df['one'])

# 核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one     4.705285  61.690690  31.005674  17.696729
two     1.704362   9.936759  78.195875  33.075001
three  60.826061  47.969847  21.705432  50.205917
-----
one       4.705285
two       1.704362
three    60.826061
Name: a, dtype: float64
               b          c
one    61.690690  31.005674
two     9.936759  78.195875
three  47.969847  21.705432
            a         b          c          d
one  4.705285  61.69069  31.005674  17.696729 <class 'pandas.core.frame.DataFrame'>

In [68]:
# df.loc[] - 按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df2)
print('-----')

data1 = df1.loc['one']
data2 = df2.loc[1]
 
print(data1)
print(data2)
print('单标签索引\n-----')
# 单个标签索引，返回Series

data3 = df1.loc[['two','three','five']]
data4 = df2.loc[[3,2,1]]
print(data3)
print(data4)
print('多标签索引\n-----')
# 多个标签索引，如果标签不存在，则返回NaN
# 顺序可变

data5 = df1.loc['one':'three']
data6 = df2.loc[1:3]
print(data5)
print(data6)
print('切片索引')
# 可以做切片对象
# 末端包含

# 核心笔记：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
one    61.267396  10.529937   7.906734  42.442430
two    69.964014  58.094703   8.424717  71.585530
three  52.616516  37.473122  28.539249  57.287641
four   82.395535  36.865054  25.722721  92.658660
           a          b          c          d
0  56.508845  20.791358  89.900211  62.435207
1  61.071161  80.231192   7.675678  89.609934
2  64.846437  68.530433  10.467451  65.400592
3  11.358075  36.555088   3.546311  53.963895
-----
a    61.267396
b    10.529937
c     7.906734
d    42.442430
Name: one, dtype: float64
a    61.071161
b    80.231192
c     7.675678
d    89.609934
Name: 1, dtype: float64
单标签索引
-----
               a          b          c          d
two    69.964014  58.094703   8.424717  71.585530
three  52.616516  37.473122  28.539249  57.287641
five         NaN        NaN        NaN        NaN
           a          b          c          d
3  11.358075  36.555088   3.546311  53.963895
2  64.846437  68.530433  10.467451  65.400592
1  61.071161  80.231192   7.675678  89.609934
多标签索引
-----
               a          b          c          d
one    61.267396  10.529937   7.906734  42.442430
two    69.964014  58.094703   8.424717  71.585530
three  52.616516  37.473122  28.539249  57.287641
           a          b          c          d
1  61.071161  80.231192   7.675678  89.609934
2  64.846437  68.530433  10.467451  65.400592
3  11.358075  36.555088   3.546311  53.963895
切片索引

D:\ANA\lib\site-packages\ipykernel_launcher.py:20: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [71]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df.iloc[0])
print(df.iloc[-1])
#print(df.iloc[['one','two','five']])#会报错
print('单位置索引\n-----')
# 单位置索引
# 和loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
print('多位置索引\n-----')
# 多位置索引
# 顺序可变

print(df.iloc[1:3])
print(df.iloc[::2])
print('切片索引')
# 切片索引
# 末端不包含

               a          b          c          d
one    29.374659   6.459866  42.596044  62.127140
two    97.941234  55.123078  26.832678  72.785103
three  10.416397  20.379897  94.827060  50.731544
four   70.271645  17.940315  27.546324   9.029726
------
a    29.374659
b     6.459866
c    42.596044
d    62.127140
Name: one, dtype: float64
a    70.271645
b    17.940315
c    27.546324
d     9.029726
Name: four, dtype: float64
单位置索引
-----
               a          b          c          d
one    29.374659   6.459866  42.596044  62.127140
three  10.416397  20.379897  94.827060  50.731544
               a          b          c          d
four   70.271645  17.940315  27.546324   9.029726
three  10.416397  20.379897  94.827060  50.731544
two    97.941234  55.123078  26.832678  72.785103
多位置索引
-----
               a          b          c          d
two    97.941234  55.123078  26.832678  72.785103
three  10.416397  20.379897  94.827060  50.731544
               a          b          c          d
one    29.374659   6.459866  42.596044  62.127140
three  10.416397  20.379897  94.827060  50.731544
切片索引

In [64]:
# 布尔型索引
# 和Series原理相同

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

b1 = df < 20
print(b1,type(b1))
print(df[b1])  # 也可以书写为 df[df < 20]
print('------')
# 不做索引则会对数据每个值进行判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b2 = df['a'] > 50
print(b2,type(b2))
print(df[b2])  # 也可以书写为 df[df['a'] > 50]
print('------')
# 单列做判断
# 索引结果保留 单列判断为True的行数据，包括其他列

b3 = df[['a','b']] > 50
print(b3,type(b3))
print(df[b3])  # 也可以书写为 df[df[['a','b']] > 50]
print('------')
# 多列做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b4 = df.loc[['one','three']] < 50
print(b4,type(b4))
print(df[b4])  # 也可以书写为 df[df.loc[['one','three']] < 50]
print('------')
# 多行做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

               a          b          c          d
one    52.266039  29.935850  72.976165  90.012140
two    78.865035  43.292091  55.959992  17.596644
three  68.903904  23.508627   3.609586   0.108185
four   47.890352  95.789244  92.467488  33.313346
------
           a      b      c      d
one    False  False  False  False
two    False  False  False   True
three  False  False   True   True
four   False  False  False  False <class 'pandas.core.frame.DataFrame'>
        a   b         c          d
one   NaN NaN       NaN        NaN
two   NaN NaN       NaN  17.596644
three NaN NaN  3.609586   0.108185
four  NaN NaN       NaN        NaN
------
one       True
two       True
three     True
four     False
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c          d
one    52.266039  29.935850  72.976165  90.012140
two    78.865035  43.292091  55.959992  17.596644
three  68.903904  23.508627   3.609586   0.108185
------
           a      b
one     True  False
two     True  False
three   True  False
four   False   True <class 'pandas.core.frame.DataFrame'>
               a          b   c   d
one    52.266039        NaN NaN NaN
two    78.865035        NaN NaN NaN
three  68.903904        NaN NaN NaN
four         NaN  95.789244 NaN NaN
------
           a     b      c      d
one    False  True  False  False
three  False  True   True   True <class 'pandas.core.frame.DataFrame'>
        a          b         c         d
one   NaN  29.935850       NaN       NaN
two   NaN        NaN       NaN       NaN
three NaN  23.508627  3.609586  0.108185
four  NaN        NaN       NaN       NaN
------

In [65]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先筛选字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])   # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])   # 选择b，c，d列的one，three行
print(df[df['a'] < 50].iloc[:2])   # 选择满足判断索引的前两行数据

               a          b          c          d
one    88.036973  88.319328  37.754358  96.139051
two    61.524351  63.125442  22.474122  64.680912
three  38.454111  51.258737  52.355176  85.056166
four   97.235493  93.514354   8.894871  18.709153
------
one      88.036973
three    38.454111
Name: a, dtype: float64
               b          c          d
one    88.319328  37.754358  96.139051
three  51.258737  52.355176  85.056166
               a          b          c          d
three  38.454111  51.258737  52.355176  85.056166

In [ ]:
'''
【课程2.7】  Pandas数据结构Dataframe：基本技巧

数据查看、转置 / 添加、修改、删除值 / 对齐 / 排序

'''

## del():删除列,drop():删除行 ,也可以删除列,不过要加axis=1,按值排序,sort_values,适用于series,sort_index,按索引排序

In [28]:
# 数据查看、转置

df = pd.DataFrame(np.random.rand(16).reshape(8,2)*100,
                   columns = ['a','b'])
print(df.head(2))
print(df.tail())
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

print(df.T)
# .T 转置

           a          b
0   5.777208  18.374283
1  85.961515  55.120036
           a          b
3  21.236577  15.902872
4  46.137564  29.350647
5  70.157709  58.972728
6   8.368292  42.011356
7  29.824574  87.062295
           0          1          2          3          4          5  \
a   5.777208  85.961515  11.005284  21.236577  46.137564  70.157709
b  18.374283  55.120036  35.595598  15.902872  29.350647  58.972728

           6          7
a   8.368292  29.824574
b  42.011356  87.062295

In [29]:
# 添加与修改

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

df['e'] = 10
df.loc[4] = 20
print(df)
# 新增列/行并赋值

df['e'] = 20
df[['a','c']] = 100
print(df)
# 索引后直接修改值

           a          b          c          d
0  17.148791  73.833921  39.069417   5.675815
1  91.572695  66.851601  60.320698  92.071097
2  79.377105  24.314520  44.406357  57.313429
3  84.599206  61.310945   3.916679  30.076458
           a          b          c          d   e
0  17.148791  73.833921  39.069417   5.675815  10
1  91.572695  66.851601  60.320698  92.071097  10
2  79.377105  24.314520  44.406357  57.313429  10
3  84.599206  61.310945   3.916679  30.076458  10
4  20.000000  20.000000  20.000000  20.000000  20
     a          b    c          d   e
0  100  73.833921  100   5.675815  20
1  100  66.851601  100  92.071097  20
2  100  24.314520  100  57.313429  20
3  100  61.310945  100  30.076458  20
4  100  20.000000  100  20.000000  20

In [30]:
# 删除  del / drop()

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

del df['a']
print(df)
print('-----')
# del语句 - 删除列

print(df.drop(0))
print(df.drop([1,2]))
print(df)
print('-----')
# drop()删除行，inplace=False → 删除后生成新的数据，不改变原数据

print(df.drop(['d'], axis = 1))
print(df)
# drop()删除列，需要加上axis = 1，inplace=False → 删除后生成新的数据，不改变原数据

           a          b          c          d
0  91.866806  88.753655  18.469852  71.651277
1  64.835568  33.844967   6.391246  54.916094
2  75.930985  19.169862  91.042457  43.648258
3  15.863853  24.788866  10.625684  82.135316
           b          c          d
0  88.753655  18.469852  71.651277
1  33.844967   6.391246  54.916094
2  19.169862  91.042457  43.648258
3  24.788866  10.625684  82.135316
-----
           b          c          d
1  33.844967   6.391246  54.916094
2  19.169862  91.042457  43.648258
3  24.788866  10.625684  82.135316
           b          c          d
0  88.753655  18.469852  71.651277
3  24.788866  10.625684  82.135316
           b          c          d
0  88.753655  18.469852  71.651277
1  33.844967   6.391246  54.916094
2  19.169862  91.042457  43.648258
3  24.788866  10.625684  82.135316
-----
           b          c
0  88.753655  18.469852
1  33.844967   6.391246
2  19.169862  91.042457
3  24.788866  10.625684
           b          c          d
0  88.753655  18.469852  71.651277
1  33.844967   6.391246  54.916094
2  19.169862  91.042457  43.648258
3  24.788866  10.625684  82.135316

In [31]:
# 对齐

df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df1 + df2)
# DataFrame对象之间的数据自动按照列和索引（行标签）对齐

          A         B         C   D
0 -0.281123 -2.529461  1.325663 NaN
1 -0.310514 -0.408225 -0.760986 NaN
2 -0.172169 -2.355042  1.521342 NaN
3  1.113505  0.325933  3.689586 NaN
4  0.107513 -0.503907 -1.010349 NaN
5 -0.845676 -2.410537 -1.406071 NaN
6  1.682854 -0.576620 -0.981622 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [72]:
# 排序1 - 按值排序 .sort_values
# 同样适用于Series

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_values(['a'], ascending = True))  # 升序
print(df1.sort_values(['a'], ascending = False))  # 降序
print('------')
# ascending参数：设置升序降序，默认升序
# 单列排序

df2 = pd.DataFrame({'a':[1,1,1,1,2,2,2,2],
                  'b':list(range(8)),
                  'c':list(range(8,0,-1))})
print(df2)
print(df2.sort_values(['a','c']))
# 多列排序，按列顺序排序

           a          b          c          d
0   4.682022  41.870747  55.556818  26.015880
1  44.954221  94.385124  79.688267  21.210340
2  37.992016  27.974444  27.602192  32.670169
3  91.441140  90.115202  80.077002  31.341469
           a          b          c          d
0   4.682022  41.870747  55.556818  26.015880
2  37.992016  27.974444  27.602192  32.670169
1  44.954221  94.385124  79.688267  21.210340
3  91.441140  90.115202  80.077002  31.341469
           a          b          c          d
3  91.441140  90.115202  80.077002  31.341469
1  44.954221  94.385124  79.688267  21.210340
2  37.992016  27.974444  27.602192  32.670169
0   4.682022  41.870747  55.556818  26.015880
------
   a  b  c
0  1  0  8
1  1  1  7
2  1  2  6
3  1  3  5
4  2  4  4
5  2  5  3
6  2  6  2
7  2  7  1
   a  b  c
3  1  3  5
2  1  2  6
1  1  1  7
0  1  0  8
7  2  7  1
6  2  6  2
5  2  5  3
4  2  4  4

In [33]:
# 排序2 - 索引排序 .sort_index

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = [5,4,3,2],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = ['h','s','x','g'],
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_index())
print(df2)
print(df2.sort_index())
# 按照index排序
# 默认 ascending=True, inplace=False

           a          b          c          d
5  57.327269  87.623119  93.655538   5.859571
4  69.739134  80.084366  89.005538  56.825475
3  88.148296   6.211556  68.938504  41.542563
2  29.248036  72.005306  57.855365  45.931715
           a          b          c          d
2  29.248036  72.005306  57.855365  45.931715
3  88.148296   6.211556  68.938504  41.542563
4  69.739134  80.084366  89.005538  56.825475
5  57.327269  87.623119  93.655538   5.859571
           a          b          c          d
h  50.579469  80.239138  24.085110  39.443600
s  30.906725  39.175302  11.161542  81.010205
x  19.900056  18.421110   4.995141  12.605395
g  67.760755  72.573568  33.507090  69.854906
           a          b          c          d
g  67.760755  72.573568  33.507090  69.854906
h  50.579469  80.239138  24.085110  39.443600
s  30.906725  39.175302  11.161542  81.010205
x  19.900056  18.421110   4.995141  12.605395